#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 웹 개발: Django, Flask 등의 프레임워크를 사용하여 웹 애플리케이션을 개발할 수 있습니다.
- 데이터 분석: Pandas, NumPy, SciPy와 같은 라이브러리를 사용하여 데이터를 분석하고 처리할 수 있습니다.
- 머신 러닝과 인공지능: TensorFlow, PyTorch, Scikit-learn 등의 라이브러리를 활용하여 머신 러닝 모델을 구축하고 훈련시킬 수 있습니다.
- 자동화: 파이썬 스크립트를 작성하여 일상적인 작업을 자동화하고, 시스템 관리 작업을 수행할 수 있습니다.
- 게임 개발: Pygame과 같은 라이브러리를 사용하여 간단한 게임을 개발할 수 있습니다.
- 모바일 애플리케이션 개발: Kivy 또는 BeeWare와 같은 라이브러리를 사용하여 모바일 애플리케이션을 개발할 수 있습니다.
- 데스크탑 애플리케이션 개발: PyQt, Tkinter 등의 라이브러리를 활용하여 데스크탑 애플리케이션을 개발할 수 있습니다.
- 시스템 스크립팅과 네트워킹: 시스템 유틸리티를 개발하거나 네트워크 프로토콜을 구현할 수 있습니다.
- 임베디드 시스템과 하드웨어 제어: 라즈베리 파이와 같은 임베디드 시스템을 제어하고 하드웨어를 프로그래밍할 수 있습니다.
- 사이언티픽 컴퓨팅: 과학적 연산과 시뮬레이션을 위해 파이썬을 활용할 수 있습니다.
- 교육: 파이썬은 초보자에게 프로그래밍을 가르치는 데 이상적인 언어로 평가받고 있습니다.
- 파이썬의 다양한 라이브러리와 프레임워크 덕분에, 이러한 분야에서의 작업이 더욱 쉽고 효율적으로 수행될 수 있습니다.

In [ ]:
# ! 기호는 클라우드 기반 colab 셀에서 Unix, Linux 셸 명령어 실행시 필요
!python  --version

Python 3.10.12

In [ ]:
#현재 작업 디렉토리 표시, %는 IPython 환경 (col.포함)에서 제공하는 매직 명령어 실행 시 필요
# # 하나는 단일 라인에 대해 실행, %%는 셀 전체에 적용하고자 할 때 사용
%pwd

'/content'

In [ ]:
%%time
sum=0
for i in range(1000000):
  sum += i

print(sum)

499999500000
CPU times: user 140 ms, sys: 0 ns, total: 140 ms
Wall time: 142 ms

#### 용어
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

#### 식별자
count, user_name, _is_valid, calculate_area, Car, model, year, math 및 m 모두 유효한 식별자. 각각의 식별자는 특정한 데이터 또는 기능에 이름을 부여하여 코드 내에서 해당 데이터나 기능을 참조할 수 있게하며 코드의 가독성과 유지 보수성을 높이는 데 중요한 역할

In [ ]:
# 변수 식별자
count = 0
user_name = "Alice"
_is_valid = True

# 함수 식별자
def calculate_area(radius):
  return 3.14159*radius*radius

# 클래스 식별자
class Car:
  def __init__(self, model, year):
    self.model = model
    self.year = year

# 모듈 식별자
import math as m

#### 식별자 기본 규칙
- 키워드를 사용하면 안된다
- 특수문자는 언더 바 (_)만 사용
- 숫자로 시작하면 안된다
- 공백은 포함할 수 없다

In [ ]:
import keyword
print(keyword.kwlist)
print("\n\t",len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

	 35

In [ ]:
alpha
break # 키워드
alpha10
_alpha
273alpha # 숫자로 시작
AlpHa
ALPHA
has space # 공백

SyntaxError: invalid decimal literal (<ipython-input-52-3cf020c5f4ff>, line 5)

Q. 주어진 문자열 리스트에서 유효한 파이썬 변수 이름만을 추출하여 반환하는 함수를 작성하시오

In [ ]:

#### List의 Item을 리무브를 하게 되면 index가 변경되고, 한번에 하나씩 밖에..
#### 그보다는 빈 리스트에 append하는 편이 좋다

identifies=["var1", "2things", "variable_name", "time!", "True", "test space"]
import keyword
import string
import re
#print(string.punctuation)

# 키워드 제거
for iden in identifies:
  if iden in keyword.kwlist: identifies.remove(iden)

# 숫자 prefix 제거
for iden in identifies:
  if iden[0].isnumeric(): identifies.remove(iden)

# 특수 문자 제거
for specif in string.punctuation:
  for iden in identifies:
    if specif in iden and "_"  not in specif: identifies.remove(iden)

# String 내부 공백 제거
for iden in identifies:
  if re.search("\s", iden): identifies.remove(iden)

#for iden in identifies:
#  if (iden in keyword.kwlist) or (iden[0].isnumeric()) or (re.search("\s", iden)):
#    identifies.remove(iden)


print(identifies)

['var1', 'variable_name']

In [9]:
# isidentifier는 파이썬의 문자열 매서드로 주어진 문자열이 유효한 식별자인지를 확인
# isidentifier는 예약어인지는 따로 체크하지는 않음
import keyword
def valid_identifiers(identifiers):
  valid = []
  for iden in identifiers:
    if iden.isidentifier() and iden not in keyword.kwlist:
      valid.append(iden)
  return valid

identifiers=["var1", "2things", "variable_name", "time!", "True", "test space"]
print(valid_identifiers(identifiers))

['var1', 'variable_name']

In [10]:
# isidentifier는 파이썬의 문자열 매서드로 주어진 문자열이 유효한 식별자인지를 확인
# isidentifier는 예약어인지는 따로 체크하지는 않음

import keyword
def valid_identifiers(identifiers):
  valid = []
  for iden in identifiers:
    if iden.isidentifier() and not keyword.iskeyword(iden):
    #if iden.isidentifier() and iden not in keyword.kwlist:      ## 이것도 가능
      valid.append(iden)
  return valid

identifiers=["var1", "2things", "variable_name", "time!", "True", "test space"]
print(valid_identifiers(identifiers))

['var1', 'variable_name']

### 파이썬은 snake_case (_를 활용)와 CamelCase(대/소문자 활용)를 모두 사용
 - itemlist: item_list ItemList
 - loginstatus: login_status loginStatus
 - 캐멀 케이스(대문자로 시작) 클래스
 - 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수
 - 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

In [11]:
# 연산자
a=5
b=3
c=b%a  # residue
d=b//a  # 몫
e=b/a   # simple divider

print(c, d, e)

3 0 0.6

In [14]:
a=3
b=5
if a > b:
  print(a)

#### 자료형
- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형
    - 정수형 : int는 정수(integer)를 나타낸다. 양의 정수와 음의 정수, 숫자 0
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑
  - 집합 : 집합을 표현하는 세트(set)
  - 블린 : 참, 거짓을 표현

In [40]:
# 정수형, 실수형
i1=3; i2=3.4
f1=3.5
#print (i1,i2, f1)

# 정수 (int)
#print(int(True), int(False), int('10'), int(3.14))
#print(int('10'), int(i2), float(i1), str(i2))

# 실수 (Float)
#print(float(True), float(False), float('10'), float(3.14))

# 사칙연산 : + * / // % **
a=10; b=2.3
#print(a+b,"\n", a-b,"\n", a*b,"\n", a/b,"\n", a//b,"\n", a%b,"\n", a**b,"\n")

# String
string='by hwooks'
a="5"; b=0.5

# 문자열 합치기
#print(a + string)

#2 f-string 사용
#print(f"{a}일 동안 매일 비올 확률 {'%.3f' %b}% {string}")

# 사용자 입력
# input('인사말을 입력하세요.')  # input 받은 값을 string으로 처리
#a=input()
#b=input()
#print(a+b)


# 사용자 입력 ==> 숫자로 type변경
#a=input()
#b=input()
#print(int(a)+int(b))


# 사용자 입력 받을 때 guide string함께 출력 ==> 숫자로 type변경
a=input("첫 번째 숫자:  ")
b=input("두 번째 숫자:  ")
print(int(a)+int(b))

첫 번째 숫자:  5
두 번째 숫자:  5
10

In [42]:
# 실수 + 실수 ==> 실수
# 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력
a=input("첫 번째 숫자:  ")
b=input("두 번째 숫자:  ")
print(float(a)+float(b))

첫 번째 숫자:  3
두 번째 숫자:  3.3
6.3

In [43]:
# 정수 + 실수 ==> 실수
# 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력
a=input("첫 번째 숫자:  ")
b=input("두 번째 숫자:  ")
print(int3(a)+float(b))

첫 번째 숫자:  3
두 번째 숫자:  3.3
6.3

In [44]:
# a=52, b=52.273, a+b를 5252.273으로 계산되도록..
a=52; b=52.273
print(a+b)
a=str(52); b=str(52.273)
print(a+b)

104.273
5252.273

In [48]:
# 문자열 : "", '', """ """, ''' '''
# p1 = 'python's value is great'
p2 = "python's value is great"
p3 = 'python\'s value is great'
# \가 waiver로 작용해서 '가 string이 아닌
# 자체로 일반 문자로 취급
# 이러한 것을 이스케이프라고 함
# 인식 추가로 \s같은 경우 자동 적으로 meta문자로 인식되는데 이경우 \\s로 하면 \s 일반 문자로 적용

#print(p1)
#print(p2)
print(p3)

python's value is great

In [54]:
# \n 행바꿈
y1="Once you study data analysis, you will need Python"
y2="Once you study data analysis\nyou will need Python\n"
y3="Once you study data analysis\tyou will need Python"
#print(y1,"\n", y2)
print(y1+"\n"+y2+y3)

Once you study data analysis, you need Python
Once you study data analysis
you need Python
Once you study data analysis	you need Python

In [58]:
# multi행 갖는 string에 대해서 문자 그대로 받아들이는 기능 (triple은 string 중간에 '이 있어도 상관 없어)
y1 = '''
Once you study data analysis
you will need Python
'''

y2 = '''
Once you study data analysis
you will need Python's power
'''

y3 = """
Once you study data analysis
you will need Python
"""

y4 = """
Once you study data analysis
you will need Python's power
"""


print(y1, y2, y3, y4)

Once you study data analysis
you will need Python

Once you study data analysis
you will need Python's power

Once you study data analysis
you will need Python

Once you study data analysis
you will need Python's power

In [65]:
a1="Python"; a2=" is easy to learn";
print(a1+a2)
print("="*33)

Python is easy to learn
=================================

Q. 아래와 같이 출력할 수 있는 string을 만드세요.

"What a wonderful world!"

he said loudly

In [66]:
a="""
"What a wonderful world!"
he said loudly
"""
print(a)

"What a wonderful world!"
he said loudly

Q. 다른 타입의 숫자 2개를 입력 받아 큰 수를 출력하세요.

In [77]:
#a=15; b=14.59
#a=14.59; b=14.59
a1=14.59; b1=14
a2=int(14.59); b2=int(14)
#a=input("첫 번째 숫자:  ")
#b=input("두 번째 숫자:  ")
#print(max(float(a),float(b)))

#a=float(input("첫 번째 숫자:  "))
#b=float(input("두 번째 숫자:  "))

if a1 > b1: print(a1)
elif b1 > a1: print(b1)
else: print("There's no max no.")


if a2 > b2: print(a2)
elif b2 > a2: print(b2)
else: print("There's no max no.")

14.59
There's no max no.

In [78]:
### 자료형 - List
# List는 []로 표기하며, []안의 요소는 콤마로 구분하며 순서가 있게 나열

list1=[1,2,3,4,5]
list2=['a', 'b', 'c']
list3=[1, 'a', 'abc', [1,2,3,4,5], ['a', 'b', 'c']]

print(list1,"\n", list2, "\n", list3)

[1, 2, 3, 4, 5]
 ['a', 'b', 'c']
 [1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [79]:
# List: 인텍싱
list1=[1,2,3,4,5]
list1[2]
list1[0:2]
list1[:4]

[1, 2, 3, 4]

In [84]:
## List: Nested List에서의 indexing
list3=[1, 'a', 'abc', [1,2,3,4,5], ['a', 'b', 'c']]

print(list3[3], list3[3][2], list3[4][0])

[1, 2, 3, 4, 5] 3 a

In [86]:
# 리스트의 수정, 삭제
a=[0,1,2,3,4,5,6,7,8,9]
b=['a', 'b', 'c']
a[0]=1
print(a)
b[1]='a'
print(b)
del a[0]
print(a)
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'c']

In [87]:
# 끝에서부터 indexing -1
a=[0,1,2,3,4,5,6,7,8,9]
b=['a', 'b', 'c']

print(a[-2])
print(a[-4:-1])
print(a[-4:])

8
[6, 7, 8]
[6, 7, 8, 9]

In [90]:
# 리스트의 확장
h=[1,2,3]
#h.extend([4,5])   # 여러 항목을 추가 (대괄호 필요)
h.extend([4,5])   # 여러 항목을 추가 (대괄호 필요)
print(h)

h.append(6)       # 단일 항목 추가
print(h)

h.insert(0,5)   # 지정 인덱스에 추가
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]

list1에서 다음을 수행하세요
- 33을 출력
- 82를 리스트에 추가
- 87의 인덱스 구하기 - 도전
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
- 39를 11로 변경
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인덱스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [131]:
list1=[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

# 33을 출력
print("\nQ.33을 출력")
print(list1[11][1])


# 82를 리스트에 추가
print("\nQ.82를 리스트에 추가")
list1.append(82)
print(list1)

#87의 인덱스 구하기
print("\nQ.87의 인덱스 구하기")
print(list1.index(87))

# 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
print("\nQ.인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전")
print(list1[3:11])
list2=list1[3:11]
print(sorted(list2, reverse=True))
list2.sort(reverse=True)
print(list2)

# 39를 11로 변경
print("\nQ.39를 11로 변경")
list1[list1.index(39)]=11
print(list1)


# [69,45,58] 출력
print("\nQ.[69,45,58] 출력")
print(list1[-17::-1])
print(list1[2::-1])

# 짝수 인덱스의 값으로 구성된 리스트 출력하기
print("\nQ.짝수 인덱스의 값으로 구성된 리스트 출력하기")
even_list=[]
for i in range(len(list1)):
  if i%2==0:  even_list.append(list1[i])
print(even_list)
print(list1[0::2])

# 인덱스가 가장 큰수를 삭제하기
print("\nQ.인덱스가 가장 큰수를 삭제하기")
del list1[-1]
print(list1)

# 인덱스 3, 5인 값으로 4칙 연산하기
print("\nQ.인덱스 3, 5인 값으로 4칙 연산하기")
print(list1[3]+list1[5], list1[3]-list1[5], list1[3]*list1[5], list1[3]/list1[5])

Q.33을 출력
33

Q.82 를 리스트에 추가
[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]

Q.87의 인덱스 구하기
5

Q.인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
[19, 4, 87, 29, 13, 39, 15, 54]
[87, 54, 39, 29, 19, 15, 13, 4]
[87, 54, 39, 29, 19, 15, 13, 4]

Q.39를 11로 변경
[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]

Q.[69,45,58] 출력
[69, 45, 58]
[69, 45, 58]

Q.짝수 인덱스의 값으로 구성된 리스트 출력하기
[58, 69, 4, 29, 11, 54, 27, 63, 22, 82]
[58, 69, 4, 29, 11, 54, 27, 63, 22, 82]

Q.인덱스가 가장 큰수를 삭제하기
[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

Q.인덱스 3, 5인 값으로 4칙 연산하기
106 -68 1653 0.21839080459770116

In [132]:
list1=[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
print(list1)
print(list1[7::-1])
print(list1[7::2])
print(list1[7::-2])

[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
[13, 29, 87, 4, 19, 69, 45, 58]
[13, 15, [8, 33, 11], 49, 98, 82]
[13, 87, 19, 45]

#### sort 와 sorted 차이점

1. 메서드 vs 함수:
- sort(): 리스트 객체의 내장 메서드입니다. 즉, 리스트에서만 사용할 수 있습니다.
- sorted(): 내장 함수로, 어떤 반복 가능한(iterable) 객체에도 사용될 수 있습니다. 예를 들면 리스트, 튜플, 딕셔너리, 문자열 등에 사용할 수 있습니다.

2. 반환 값:
- sort(): 리스트를 원 위치에서(in-place) 정렬하고 None을 반환합니다. 따라서 원래의 리스트 자체가 변경됩니다.
- sorted(): 정렬된 새로운 리스트를 반환합니다. 원래의 객체는 변경되지 않습니다.

3. 유용성:
- sort(): 리스트에서만 작동하기 때문에 리스트만 정렬할 수 있습니다.
- sorted(): 다양한 객체를 정렬할 수 있으며 결과는 항상 리스트로 반환됩니다.

In [133]:
# sort() Method   :  반환 X, 변환 O, only List to List
my_list = [3, 1, 2]
my_list.sort()
print(my_list)

# sorted() function   :  반환 O, 변환 X , not only for List but for everything, to List
my_tuple = (3, 1, 2)
new_list=sorted(my_tuple)
print(my_tuple)
print(new_list)

[1, 2, 3]
(3, 1, 2)
[1, 2, 3]

In [134]:
## sort() Method
list=[5,6,9,7,8]
new_list=list.sort()
print(list)
print(new_list)

[5, 6, 7, 8, 9]
None

In [135]:
## sorted() Function
list=[5,6,9,7,8]
new_list=sorted(list)
print(list)
print(new_list)

[5, 6, 9, 7, 8]
[5, 6, 7, 8, 9]

In [138]:
# Sorted 반환 O, 변환 X , not only for List but for everything, to List
list1=[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
list2=list1[3:11]
l_sorted=sorted(list2, reverse=True)
print(l_sorted)

# Sort 반환 X, 변환 O, only List to List
list3=list1[3:11]
l3_sorted=list3.sort(reverse=True)
print(l3_sorted, "\t", list3)

[87, 54, 39, 29, 19, 15, 13, 4]
None 	 [87, 54, 39, 29, 19, 15, 13, 4]

Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]


Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']


Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다.

예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.

예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.

In [200]:
import statistics
import re

# Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.
print("\n Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요")
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
print("\tnumbers의 최소값은:", min(numbers), "numbers의 최대값은:", max(numbers))


# Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요
print("\n Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요")
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
sum_nb=sum(numbers); mean_nb=statistics.mean(numbers)
print("\tnumbers의 총합계:", sum_nb, "numbers의 평균값은:", mean_nb)


# Task3_0425. 주어진 리스트에서 특정 요소 (target) 가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.
print("\n Task3_0425. 주어진 리스트에서 특정 요소 (target) 가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요")
items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']
target='apple'
inx_list=[]; i=0
for item in items:
  if target == item:  inx_list.append(i)
  i=i+1
print("\t 주어진 리스트에서", target, "이 등장하는 모든 인덱스의 리스트는", inx_list)

# Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다.
# 예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.
print("\n Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요")

uncl_list=['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
cleared_list=[]; i=0
for  item in uncl_list:
  if item not in cleared_list: cleared_list.append(item)

print("\t 반복되는 요소가 제거된 결과 리스트:", cleared_list)

# Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.
# 예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.
print("\n Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요")
test_list=[1, 2, 3, 4, 5]
shift=int(input("회전횟수:  "))
#shift=3
nor_shift=shift%(len(test_list))
shifted_list=[1, 2, 3, 4, 5]
i=0
for  item in test_list:
  if (i+nor_shift) < len(test_list):
    shifted_list[i+nor_shift]=test_list[i]
  else:
    nor_shift2=(i+nor_shift)%len(test_list)
    shifted_list[nor_shift2]=test_list[i]
  i=i+1

print("\t 원본 리스트는", test_list, "\n\t", shift,"만큼 회전된 리스트는:", shifted_list)

 Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요
	numbers의 최소값은: 4 numbers의 최대값은: 87

 Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요
	numbers의 총합계: 378 numbers의 평균값은: 37.8

 Task3_0425. 주어진 리스트에서 특정 요소 (target) 가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요
	 주어진 리스트에서 apple 이 등장하는 모든 인덱스의 리스트는 [0, 3, 5]

 Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요
	 반복되는 요소가 제거된 결과 리스트: ['a', 'b', 'c', 'd', 'e']

 Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요
회전횟수:  3
	 원본 리스트는 [1, 2, 3, 4, 5]
	 3 만큼 회전된 리스트는: [3, 4, 5, 1, 2]