#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 웹 개발: Django, Flask 등의 프레임워크를 사용하여 웹 애플리케이션을 개발할 수 있습니다.
- 데이터 분석: Pandas, NumPy, SciPy와 같은 라이브러리를 사용하여 데이터를 분석하고 처리할 수 있습니다.
- 머신 러닝과 인공지능: TensorFlow, PyTorch, Scikit-learn 등의 라이브러리를 활용하여 머신 러닝 모델을 구축하고 훈련시킬 수 있습니다.
- 자동화: 파이썬 스크립트를 작성하여 일상적인 작업을 자동화하고, 시스템 관리 작업을 수행할 수 있습니다.
- 게임 개발: Pygame과 같은 라이브러리를 사용하여 간단한 게임을 개발할 수 있습니다.
- 모바일 애플리케이션 개발: Kivy 또는 BeeWare와 같은 라이브러리를 사용하여 모바일 애플리케이션을 개발할 수 있습니다.
- 데스크탑 애플리케이션 개발: PyQt, Tkinter 등의 라이브러리를 활용하여 데스크탑 애플리케이션을 개발할 수 있습니다.
- 시스템 스크립팅과 네트워킹: 시스템 유틸리티를 개발하거나 네트워크 프로토콜을 구현할 수 있습니다.
- 임베디드 시스템과 하드웨어 제어: 라즈베리 파이와 같은 임베디드 시스템을 제어하고 하드웨어를 프로그래밍할 수 있습니다.
- 사이언티픽 컴퓨팅: 과학적 연산과 시뮬레이션을 위해 파이썬을 활용할 수 있습니다.
- 교육: 파이썬은 초보자에게 프로그래밍을 가르치는 데 이상적인 언어로 평가받고 있습니다.
- 파이썬의 다양한 라이브러리와 프레임워크 덕분에, 이러한 분야에서의 작업이 더욱 쉽고 효율적으로 수행될 수 있습니다.

In [ ]:
# ! 기호는 클라우드 기반 colab 셀에서 Unix, Linux 셸 명령어 실행시 필요
!python  --version

Python 3.10.12

In [ ]:
#현재 작업 디렉토리 표시, %는 IPython 환경 (col.포함)에서 제공하는 매직 명령어 실행 시 필요
# # 하나는 단일 라인에 대해 실행, %%는 셀 전체에 적용하고자 할 때 사용
%pwd

'/content'

In [ ]:
%%time
sum=0
for i in range(1000000):
  sum += i

print(sum)

499999500000
CPU times: user 140 ms, sys: 0 ns, total: 140 ms
Wall time: 142 ms

#### 용어
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

#### 식별자
count, user_name, _is_valid, calculate_area, Car, model, year, math 및 m 모두 유효한 식별자. 각각의 식별자는 특정한 데이터 또는 기능에 이름을 부여하여 코드 내에서 해당 데이터나 기능을 참조할 수 있게하며 코드의 가독성과 유지 보수성을 높이는 데 중요한 역할

In [ ]:
# 변수 식별자
count = 0
user_name = "Alice"
_is_valid = True

# 함수 식별자
def calculate_area(radius):
  return 3.14159*radius*radius

# 클래스 식별자
class Car:
  def __init__(self, model, year):
    self.model = model
    self.year = year

# 모듈 식별자
import math as m

#### 식별자 기본 규칙
- 키워드를 사용하면 안된다
- 특수문자는 언더 바 (_)만 사용
- 숫자로 시작하면 안된다
- 공백은 포함할 수 없다

In [ ]:
import keyword
print(keyword.kwlist)
print("\n\t",len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

	 35

In [ ]:
alpha
break # 키워드
alpha10
_alpha
273alpha # 숫자로 시작
AlpHa
ALPHA
has space # 공백

SyntaxError: invalid decimal literal (<ipython-input-52-3cf020c5f4ff>, line 5)

Q. 주어진 문자열 리스트에서 유효한 파이썬 변수 이름만을 추출하여 반환하는 함수를 작성하시오

In [ ]:

#### List의 Item을 리무브를 하게 되면 index가 변경되고, 한번에 하나씩 밖에..
#### 그보다는 빈 리스트에 append하는 편이 좋다

identifies=["var1", "2things", "variable_name", "time!", "True", "test space"]
import keyword
import string
import re
#print(string.punctuation)

# 키워드 제거
for iden in identifies:
  if iden in keyword.kwlist: identifies.remove(iden)

# 숫자 prefix 제거
for iden in identifies:
  if iden[0].isnumeric(): identifies.remove(iden)

# 특수 문자 제거
for specif in string.punctuation:
  for iden in identifies:
    if specif in iden and "_"  not in specif: identifies.remove(iden)

# String 내부 공백 제거
for iden in identifies:
  if re.search("\s", iden): identifies.remove(iden)

#for iden in identifies:
#  if (iden in keyword.kwlist) or (iden[0].isnumeric()) or (re.search("\s", iden)):
#    identifies.remove(iden)


print(identifies)

['var1', 'variable_name']

In [ ]:
# isidentifier는 파이썬의 문자열 매서드로 주어진 문자열이 유효한 식별자인지를 확인
# isidentifier는 예약어인지는 따로 체크하지는 않음
import keyword
def valid_identifiers(identifiers):
  valid = []
  for iden in identifiers:
    if iden.isidentifier() and iden not in keyword.kwlist:
      valid.append(iden)
  return valid

identifiers=["var1", "2things", "variable_name", "time!", "True", "test space"]
print(valid_identifiers(identifiers))

['var1', 'variable_name']

In [ ]:
# isidentifier는 파이썬의 문자열 매서드로 주어진 문자열이 유효한 식별자인지를 확인
# isidentifier는 예약어인지는 따로 체크하지는 않음

import keyword
def valid_identifiers(identifiers):
  valid = []
  for iden in identifiers:
    if iden.isidentifier() and not keyword.iskeyword(iden):
    #if iden.isidentifier() and iden not in keyword.kwlist:      ## 이것도 가능
      valid.append(iden)
  return valid

identifiers=["var1", "2things", "variable_name", "time!", "True", "test space"]
print(valid_identifiers(identifiers))

['var1', 'variable_name']

### 파이썬은 snake_case (_를 활용)와 CamelCase(대/소문자 활용)를 모두 사용
 - itemlist: item_list ItemList
 - loginstatus: login_status loginStatus
 - 캐멀 케이스(대문자로 시작) 클래스
 - 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수
 - 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

In [ ]:
# 연산자
a=5
b=3
c=b%a  # residue
d=b//a  # 몫
e=b/a   # simple divider

print(c, d, e)

3 0 0.6

In [ ]:
a=3
b=5
if a > b:
  print(a)

#### 자료형
- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형
    - 정수형 : int는 정수(integer)를 나타낸다. 양의 정수와 음의 정수, 숫자 0
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑
  - 집합 : 집합을 표현하는 세트(set)
  - 블린 : 참, 거짓을 표현

In [ ]:
# 정수형, 실수형
i1=3; i2=3.4
f1=3.5
#print (i1,i2, f1)

# 정수 (int)
#print(int(True), int(False), int('10'), int(3.14))
#print(int('10'), int(i2), float(i1), str(i2))

# 실수 (Float)
#print(float(True), float(False), float('10'), float(3.14))

# 사칙연산 : + * / // % **
a=10; b=2.3
#print(a+b,"\n", a-b,"\n", a*b,"\n", a/b,"\n", a//b,"\n", a%b,"\n", a**b,"\n")

# String
string='by hwooks'
a="5"; b=0.5

# 문자열 합치기
#print(a + string)

#2 f-string 사용
#print(f"{a}일 동안 매일 비올 확률 {'%.3f' %b}% {string}")

# 사용자 입력
# input('인사말을 입력하세요.')  # input 받은 값을 string으로 처리
#a=input()
#b=input()
#print(a+b)


# 사용자 입력 ==> 숫자로 type변경
#a=input()
#b=input()
#print(int(a)+int(b))


# 사용자 입력 받을 때 guide string함께 출력 ==> 숫자로 type변경
a=input("첫 번째 숫자:  ")
b=input("두 번째 숫자:  ")
print(int(a)+int(b))

첫 번째 숫자:  5
두 번째 숫자:  5
10

In [ ]:
# 실수 + 실수 ==> 실수
# 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력
a=input("첫 번째 숫자:  ")
b=input("두 번째 숫자:  ")
print(float(a)+float(b))

첫 번째 숫자:  3
두 번째 숫자:  3.3
6.3

In [ ]:
# 정수 + 실수 ==> 실수
# 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력
a=input("첫 번째 숫자:  ")
b=input("두 번째 숫자:  ")
print(int3(a)+float(b))

첫 번째 숫자:  3
두 번째 숫자:  3.3
6.3

In [ ]:
# a=52, b=52.273, a+b를 5252.273으로 계산되도록..
a=52; b=52.273
print(a+b)
a=str(52); b=str(52.273)
print(a+b)

104.273
5252.273

In [ ]:
# 문자열 : "", '', """ """, ''' '''
# p1 = 'python's value is great'
p2 = "python's value is great"
p3 = 'python\'s value is great'
# \가 waiver로 작용해서 '가 string이 아닌
# 자체로 일반 문자로 취급
# 이러한 것을 이스케이프라고 함
# 인식 추가로 \s같은 경우 자동 적으로 meta문자로 인식되는데 이경우 \\s로 하면 \s 일반 문자로 적용

#print(p1)
#print(p2)
print(p3)

python's value is great

In [ ]:
# \n 행바꿈
y1="Once you study data analysis, you will need Python"
y2="Once you study data analysis\nyou will need Python\n"
y3="Once you study data analysis\tyou will need Python"
#print(y1,"\n", y2)
print(y1+"\n"+y2+y3)

Once you study data analysis, you need Python
Once you study data analysis
you need Python
Once you study data analysis	you need Python

In [ ]:
# multi행 갖는 string에 대해서 문자 그대로 받아들이는 기능 (triple은 string 중간에 '이 있어도 상관 없어)
y1 = '''
Once you study data analysis
you will need Python
'''

y2 = '''
Once you study data analysis
you will need Python's power
'''

y3 = """
Once you study data analysis
you will need Python
"""

y4 = """
Once you study data analysis
you will need Python's power
"""


print(y1, y2, y3, y4)

Once you study data analysis
you will need Python

Once you study data analysis
you will need Python's power

Once you study data analysis
you will need Python

Once you study data analysis
you will need Python's power

In [ ]:
a1="Python"; a2=" is easy to learn";
print(a1+a2)
print("="*33)

Python is easy to learn
=================================

Q. 아래와 같이 출력할 수 있는 string을 만드세요.

"What a wonderful world!"

he said loudly

In [ ]:
a="""
"What a wonderful world!"
he said loudly
"""
print(a)

"What a wonderful world!"
he said loudly

Q. 다른 타입의 숫자 2개를 입력 받아 큰 수를 출력하세요.

In [ ]:
#a=15; b=14.59
#a=14.59; b=14.59
a1=14.59; b1=14
a2=int(14.59); b2=int(14)
#a=input("첫 번째 숫자:  ")
#b=input("두 번째 숫자:  ")
#print(max(float(a),float(b)))

#a=float(input("첫 번째 숫자:  "))
#b=float(input("두 번째 숫자:  "))

if a1 > b1: print(a1)
elif b1 > a1: print(b1)
else: print("There's no max no.")


if a2 > b2: print(a2)
elif b2 > a2: print(b2)
else: print("There's no max no.")

14.59
There's no max no.

## 자료형 - List
- List는 []로 표기하며, []안의 요소는 콤마로 구분하며 순서 있게 나열

In [ ]:
list1=[1,2,3,4,5]
list2=['a', 'b', 'c']
list3=[1, 'a', 'abc', [1,2,3,4,5], ['a', 'b', 'c']]

print(list1,"\n", list2, "\n", list3)

[1, 2, 3, 4, 5]
 ['a', 'b', 'c']
 [1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [ ]:
# List: 인텍싱
list1=[1,2,3,4,5]
list1[2]
list1[0:2]
list1[:4]

[1, 2, 3, 4]

In [ ]:
## List: Nested List에서의 indexing
list3=[1, 'a', 'abc', [1,2,3,4,5], ['a', 'b', 'c']]

print(list3[3], list3[3][2], list3[4][0])

[1, 2, 3, 4, 5] 3 a

In [ ]:
# 리스트의 수정, 삭제
a=[0,1,2,3,4,5,6,7,8,9]
b=['a', 'b', 'c']
a[0]=1
print(a)
b[1]='a'
print(b)
del a[0]
print(a)
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'c']

In [ ]:
# 끝에서부터 indexing -1
a=[0,1,2,3,4,5,6,7,8,9]
b=['a', 'b', 'c']

print(a[-2])
print(a[-4:-1])
print(a[-4:])

8
[6, 7, 8]
[6, 7, 8, 9]

In [ ]:
# 리스트의 확장
h=[1,2,3]
#h.extend([4,5])   # 여러 항목을 추가 (대괄호 필요)
h.extend([4,5])   # 여러 항목을 추가 (대괄호 필요)
print(h)

h.append(6)       # 단일 항목 추가
print(h)

h.insert(0,5)   # 지정 인덱스에 추가
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]

list1에서 다음을 수행하세요
- 33을 출력
- 82를 리스트에 추가
- 87의 인덱스 구하기 - 도전
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
- 39를 11로 변경
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인덱스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [ ]:
list1=[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

# 33을 출력
print("\nQ.33을 출력")
print(list1[11][1])


# 82를 리스트에 추가
print("\nQ.82를 리스트에 추가")
list1.append(82)
print(list1)

#87의 인덱스 구하기
print("\nQ.87의 인덱스 구하기")
print(list1.index(87))

# 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
print("\nQ.인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전")
print(list1[3:11])
list2=list1[3:11]
print(sorted(list2, reverse=True))
list2.sort(reverse=True)
print(list2)

# 39를 11로 변경
print("\nQ.39를 11로 변경")
list1[list1.index(39)]=11
print(list1)


# [69,45,58] 출력
print("\nQ.[69,45,58] 출력")
print(list1[-17::-1])
print(list1[2::-1])

# 짝수 인덱스의 값으로 구성된 리스트 출력하기
print("\nQ.짝수 인덱스의 값으로 구성된 리스트 출력하기")
even_list=[]
for i in range(len(list1)):
  if i%2==0:  even_list.append(list1[i])
print(even_list)
print(list1[0::2])

# 인덱스가 가장 큰수를 삭제하기
print("\nQ.인덱스가 가장 큰수를 삭제하기")
del list1[-1]
print(list1)

# 인덱스 3, 5인 값으로 4칙 연산하기
print("\nQ.인덱스 3, 5인 값으로 4칙 연산하기")
print(list1[3]+list1[5], list1[3]-list1[5], list1[3]*list1[5], list1[3]/list1[5])

Q.33을 출력
33

Q.82 를 리스트에 추가
[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]

Q.87의 인덱스 구하기
5

Q.인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
[19, 4, 87, 29, 13, 39, 15, 54]
[87, 54, 39, 29, 19, 15, 13, 4]
[87, 54, 39, 29, 19, 15, 13, 4]

Q.39를 11로 변경
[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]

Q.[69,45,58] 출력
[69, 45, 58]
[69, 45, 58]

Q.짝수 인덱스의 값으로 구성된 리스트 출력하기
[58, 69, 4, 29, 11, 54, 27, 63, 22, 82]
[58, 69, 4, 29, 11, 54, 27, 63, 22, 82]

Q.인덱스가 가장 큰수를 삭제하기
[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

Q.인덱스 3, 5인 값으로 4칙 연산하기
106 -68 1653 0.21839080459770116

In [ ]:
list1=[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
print(list1)
print(list1[7::-1])
print(list1[7::2])
print(list1[7::-2])

[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
[13, 29, 87, 4, 19, 69, 45, 58]
[13, 15, [8, 33, 11], 49, 98, 82]
[13, 87, 19, 45]

#### sort 와 sorted 차이점

1. 메서드 vs 함수:
- sort(): 리스트 객체의 내장 메서드입니다. 즉, 리스트에서만 사용할 수 있습니다.
- sorted(): 내장 함수로, 어떤 반복 가능한(iterable) 객체에도 사용될 수 있습니다. 예를 들면 리스트, 튜플, 딕셔너리, 문자열 등에 사용할 수 있습니다.

2. 반환 값:
- sort(): 리스트를 원 위치에서(in-place) 정렬하고 None을 반환합니다. 따라서 원래의 리스트 자체가 변경됩니다.
- sorted(): 정렬된 새로운 리스트를 반환합니다. 원래의 객체는 변경되지 않습니다.

3. 유용성:
- sort(): 리스트에서만 작동하기 때문에 리스트만 정렬할 수 있습니다.
- sorted(): 다양한 객체를 정렬할 수 있으며 결과는 항상 리스트로 반환됩니다.

In [ ]:
# sort() Method   :  반환 X, 변환 O, only List to List
my_list = [3, 1, 2]
my_list.sort()
print(my_list)

# sorted() function   :  반환 O, 변환 X , not only for List but for everything, to List
my_tuple = (3, 1, 2)
new_list=sorted(my_tuple)
print(my_tuple)
print(new_list)

[1, 2, 3]
(3, 1, 2)
[1, 2, 3]

In [ ]:
## sort() Method
list1=[5,6,9,7,8]
new_list=list1.sort()
print(list1)
print(new_list)

[5, 6, 7, 8, 9]
None

In [ ]:
## sorted() Function
list1=[5,6,9,7,8]
new_list=sorted(list1)
print(list1)
print(new_list)

[5, 6, 9, 7, 8]
[5, 6, 7, 8, 9]

In [ ]:
# Sorted 반환 O, 변환 X , not only for List but for everything, to List
list1=[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
list2=list1[3:11]
l_sorted=sorted(list2, reverse=True)
print(l_sorted)

# Sort 반환 X, 변환 O, only List to List
list3=list1[3:11]
l3_sorted=list3.sort(reverse=True)
print(l3_sorted, "\t", list3)

[87, 54, 39, 29, 19, 15, 13, 4]
None 	 [87, 54, 39, 29, 19, 15, 13, 4]

Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]


Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']


Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다.

예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.

예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.

In [ ]:
import statistics
import re

# Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.
print("\n Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요")
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
print("\tnumbers의 최소값은:", min(numbers), "numbers의 최대값은:", max(numbers))


# Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요
print("\n Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요")
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
sum_nb=sum(numbers); mean_nb=statistics.mean(numbers)
print("\tnumbers의 총합계:", sum_nb, "numbers의 평균값은:", mean_nb)


# Task3_0425. 주어진 리스트에서 특정 요소 (target) 가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.
print("\n Task3_0425. 주어진 리스트에서 특정 요소 (target) 가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요")
items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']
target='apple'
inx_list=[]; i=0
for item in items:
  if target == item:  inx_list.append(i)
  i=i+1
print("\t 주어진 리스트에서", target, "이 등장하는 모든 인덱스의 리스트는", inx_list)

# Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다.
# 예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.
print("\n Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요")

uncl_list=['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
cleared_list=[]; i=0
for  item in uncl_list:
  if item not in cleared_list: cleared_list.append(item)

print("\t 반복되는 요소가 제거된 결과 리스트:", cleared_list)

# Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.
# 예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.
print("\n Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요")
test_list=[1, 2, 3, 4, 5]
shift=int(input("회전횟수:  "))
#shift=3
nor_shift=shift%(len(test_list))
shifted_list=list(range(len(test_list)))
i=0
for  item in test_list:
  if (i+nor_shift) < len(test_list):
    shifted_list[i+nor_shift]=test_list[i]
  else:
    nor_shift2=(i+nor_shift)%len(test_list)
    shifted_list[nor_shift2]=test_list[i]
  i=i+1

print("\t 원본 리스트는", test_list, "\n\t", shift,"만큼 회전된 리스트는:", shifted_list)

 Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요
	numbers의 최소값은: 4 numbers의 최대값은: 87

 Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요
	numbers의 총합계: 378 numbers의 평균값은: 37.8

 Task3_0425. 주어진 리스트에서 특정 요소 (target) 가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요
	 주어진 리스트에서 apple 이 등장하는 모든 인덱스의 리스트는 [0, 3, 5]

 Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요
	 반복되는 요소가 제거된 결과 리스트: ['a', 'b', 'c', 'd', 'e']

 Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요
회전횟수:  3
	 원본 리스트는 [1, 2, 3, 4, 5]
	 3 만큼 회전된 리스트는: [3, 4, 5, 1, 2]

In [ ]:
### Task1_0425 + 강사님 모범 답안

# Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.
print("\n Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요")
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
#print("\tnumbers의 최소값은:", min(numbers), "numbers의 최대값은:", max(numbers))
print(f"\tnumbers의 최소값은:{min(numbers)}, numbers의 최대값은:{max(numbers)}")

# Another Solution
min_value=float("inf"); max_value=float("-inf")
for item in numbers:
  if item < min_value: min_value=item
  if item > max_value: max_value=item
print(f"\tnumbers의 최소값은:{min_value}, numbers의 최대값은:{max_value}")

 Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요
	numbers의 최소값은:4, numbers의 최대값은:87
	numbers의 최소값은:4, numbers의 최대값은:87

In [ ]:
import statistics as stat

### Task2_0425 + 강사님 모범 답안
# Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요
print("\n Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요")
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
sum_nb=sum(numbers); mean_nb=stat.mean(numbers)
print("\tnumbers의 총합계:", sum_nb, "numbers의 평균값은:", mean_nb)

## 강사님
mean_value=sum_nb/len(numbers)
print(f"\tnumbers의 총합계: {sum_nb}, numbers의 평균값은: {mean_value}")

## NumPy
import numpy as np
print(f"\tnumbers의 총합계: {sum_nb}, numbers의 평균값은: {np.mean(numbers)}")

 Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요
	numbers의 총합계: 378 numbers의 평균값은: 37.8
	numbers의 총합계: 378, numbers의 평균값은: 37.8
	numbers의 총합계: 378, numbers의 평균값은: 37.8

In [ ]:
### Task3_0425 + 강사님 모범 답안
# Task3_0425. 주어진 리스트에서 특정 요소 (target) 가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.
print("\n Task3_0425. 주어진 리스트에서 특정 요소 (target) 가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요")
items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']
target='apple'
inx_list=[];
for item in items:
  if target == item:  inx_list.append(i)
print("\t 주어진 리스트에서", target, "이 등장하는 모든 인덱스의 리스트는", inx_list)

## 강사님
## 아래 코드는 for-loop을 돌리는데 (보통 for i in list:)
# ==> enumerate(list)에 대해서 for-loop을 돌리는데 index와 value를 반환
# 이때 value가 target에 match될때 True이고 이때 index만 return하는 형태
# []안에서 for문과 if 조건문과 결과 반환을 동시에 해버리는
# 형태 y=[return:(index or value)  for index, value in enumerate(LIST) if value == target]
indexes=[index for index, value in enumerate(items) if value == target]
print(f"\t 주어진 리스트에서 '{target}'이 등장하는 모든 인덱스의 리스트는: {indexes}")

 Task3_0425. 주어진 리스트에서 특정 요소 (target) 가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요
	 주어진 리스트에서 apple 이 등장하는 모든 인덱스의 리스트는 [5, 5, 5]
	 주어진 리스트에서 'apple'이 등장하는 모든 인덱스의 리스트는: [0, 3, 5]

In [ ]:
### Task4_0425 + 강사님 모범 답안

# Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다.
print("\n Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요")

uncl_list=['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
## My
cleared_list=[];
for  item in uncl_list:
  if item not in cleared_list: cleared_list.append(item)
print(f"\t 반복되는 요소가 제거된 결과 리스트: {cleared_list}")

# 강사님
result=[uncl_list[0]]
for i in uncl_list:
  if i != result[-1]:
    result.append(i)
print(f"\t 연속해서 반복되는 요소가 제거된 결과 리스트: {result}")


# 사용자 함수로
def remove_consecutive_duplicates(in_list):
# 함수 적용 시에 혹시 input arg가 없으면 아래와 같이 EXIT door까지 설정
  if not in_list:
    return[]

  result=[in_list[0]]
  for item in in_list:
    if item != result[-1]:
      result.append(item)
  return result

result2=remove_consecutive_duplicates(uncl_list)
print(f"\t 연속해서 반복되는 요소가 제거된 결과 리스트 by FUNC: {result2}")
dummy=[]
result3=remove_consecutive_duplicates(dummy) ## blank list를 넣어도 오류 발생하지 않음

 Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요
	 반복되는 요소가 제거된 결과 리스트: ['a', 'b', 'c', 'd', 'e']
	 연속해서 반복되는 요소가 제거된 결과 리스트: ['a', 'b', 'c', 'd', 'e']
	 연속해서 반복되는 요소가 제거된 결과 리스트 by FUNC: ['a', 'b', 'c', 'd', 'e']

In [ ]:
### Task5_0425 + 강사님 모범 답안

# Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.
# 예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.
print("\n Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요")
test_list=[1, 2, 3, 4, 5]
shift=int(input("회전횟수:  "))
#shift=3
nor_shift=shift%(len(test_list))
shifted_list=list(range(len(test_list)))
i=0
for  item in test_list:
  if (i+nor_shift) < len(test_list):
    shifted_list[i+nor_shift]=test_list[i]
  else:
    nor_shift2=(i+nor_shift)%len(test_list)
    shifted_list[nor_shift2]=test_list[i]
  i=i+1
print(f"\n내 답안(only using for/if 구문)\n\t원본 리스트는 {test_list}, \n\t{shift}만큼 회전된 리스트는: {shifted_list}")

# 강사님 모범답안
def rotate_list(in_list, shift):
  if not in_list: return nums
  nor_shift=shift%(len(in_list))     ### normalized shift
  rotate=in_list[-nor_shift:]+in_list[:-nor_shift]        ### shift를 중심으로 2-part를 나누어서 앞 뒤로 SWAP하면 rotate
  return rotate
print(f"\n강사님 모범답안(함수)\n\t원본 리스트는 {test_list}, \n\t{shift}만큼 회전된 리스트는: {rotate_list(test_list,nor_shift)}")

# Reverse Rotate
def rotate_rev(in_list, shift):
  if not in_list: return nums
  nor_shift=shift%(len(in_list))     ### normalized shift
  rotate=in_list[nor_shift:]+in_list[:nor_shift]        ### shift를 중심으로 2-part를 나누어서 앞 뒤로 SWAP하면 rotate
  return rotate
print(f"\n역방향-로테이트(함수)\n\t원본 리스트는 {test_list}, \n\t{shift}만큼 역회전된 리스트는: {rotate_rev(test_list,nor_shift)}")

 Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요
회전횟수:  4

내 답안(only using for/if 구문)
	원본 리스트는 [1, 2, 3, 4, 5],
	4만큼 회전된 리스트는: [2, 3, 4, 5, 1]

강사님 모범답안(함수)
	원본 리스트는 [1, 2, 3, 4, 5],
	4만큼 회전된 리스트는: [2, 3, 4, 5, 1]

역방향-로테이트(함수)
	원본 리스트는 [1, 2, 3, 4, 5],
	4만큼 역회전된 리스트는: [5, 1, 2, 3, 4]

## 자료형 - Tuple
- 튜플의 특징은 변경할 수 없는(immutable) 순서가 있는 컬렉션
- 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용

In [ ]:
tuple1=(1,2,3,4,5)
tuple2=('a', 'b', 'c')
tuple3=(1, 'a', 'abc', [1,2,3,4,5],['a', 'b', 'c'])

print(tuple1[:])
print(tuple2[2])
print(tuple2[1])
print(tuple3[3][2])
print(tuple3[2][1])
print(tuple3[4][1])

(1, 2, 3, 4, 5)
c
b
3
b
b

In [ ]:
# List vs. Tuple
list1=[1,2,3,4,5]
list1[0]=0
print(list1)

tuple1=(1,2,3,4,5)
#tuple1[0]=0           #### 불가능
print(tuple1)

[0, 2, 3, 4, 5]

TypeError: 'tuple' object does not support item assignment

In [ ]:
l1=[1]
print(l1)

t1=(1)              ###
print(t1)           ##  Tuple은 요소가 1개 있으면 자동적으로 int로 인식되기 때문에
print(type(t1))     ##  요소가 1개일 때는 뒤에 콤마 붙여야

t2=(1,)
print(type(t2))

t2=1,2,3
print(t2, type(t2))

print(t1+t2)
print(t2*3)

print(t1,t2)   # t1과 t2간 type 차이가 있어 연산이 불가능. int vs. tuple

[1]
1
<class 'int'>
<class 'tuple'>
(1, 2, 3) <class 'tuple'>

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

Q. red, green, blue 값을 갖는 튜플에서 각각을 r,g,b 변수에 할당하고 출력하세요

In [ ]:
colors=("red", "green", "blue")
r,g,b=colors
print(r)
print(g)
print(b)

red
green
blue

- 함수에서 여러값을 반환할 때 튜플을 사용하는 것이 일반적입니다.

Q. 주어진 리스트의 총합과 평균을 동시에 반환하는 함수를 작성하세요

In [ ]:
numbers = [10, 20, 30, 40, 50]

def cal_sum_avr(InList):
  sum_nb=sum(InList); mean_nb=sum_nb/(len(InList))
  return sum_nb, mean_nb


total, average=cal_sum_avr(numbers)
print(f"\tnumbers의 총합계,평균: {cal_sum_avr(numbers)}")
print(f"\tnumbers의 총합계,평균: {total}, {average}")
print(type(total))

def cal_sum_avr_tuple(InList):
  sum_nb=sum(InList); mean_nb=sum_nb/(len(InList))
  return (sum_nb, mean_nb)

total_t, average_t=cal_sum_avr_tuple(numbers)
print(f"\tnumbers의 총합계,평균: {total_t}, {average_t}")
print(type(total_t))

	numbers의 총합계,평균: (150, 30.0)
	numbers의 총합계,평균: 150, 30.0
<class 'int'>
	numbers의 총합계,평균: 150, 30.0
<class 'int'>

## 자료형 - 사전
- 키와 값을 하나의 요소로 하는 순서가 없는 집합

In [ ]:
d1={'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
print(d1['a'])
print(d1.keys())
print(d1.values())
print(d1.items())
d1['d']=4
print(d1)
d1['b']=7
print(d1)

d1['b']='None'
print(d1)

d1['b']='NaN'
print(d1)

del d1['d']            # key와 value의 item이 통째로 제거
print(d1)

dummy=d1.pop('e')     # pop()는 은 키 "e"을 제거되면서 value값이 return
print(dummy,d1)

1
dict_keys(['a', 'b', 'c', 'd', 'e'])
dict_values([1, 2, 3, 4, 5])
dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
{'a': 1, 'b': 7, 'c': 3, 'd': 4, 'e': 5}
{'a': 1, 'b': 'None', 'c': 3, 'd': 4, 'e': 5}
{'a': 1, 'b': 'NaN', 'c': 3, 'd': 4, 'e': 5}
{'a': 1, 'b': 'NaN', 'c': 3, 'e': 5}
5 {'a': 1, 'b': 'NaN', 'c': 3}

Q1. 딕셔너리 d1에서 'b'의 값을 확인하면서 그 값을 삭제하세요

d1={'a':1, 'b':2, 'c':3, 'd':4, 'e':5}

Q2. 다음과 같이 학생의 이름과 점수를 튜플로 묶은 리스트가 있습니다: [("Tom",85), ("Jane",90),("Bob", 75)]
이 리스트를 사용해 학생이름을 키로 점수를 값으로 하는 딕셔너리를 생성하고 출력하세요.

Q3. 튜플의 불변성 때문에 튜플은 딕셔너리의 키로 사용될 수 있습니다. 주어진 위치 자표 리스트에서 각 위치가 몇번 나타나는지 계산하는 딕셔너리를 만드세요.
position=[(1,1),(2,2),(1,1),(3,3),(2,2)]

In [ ]:
# Q1 딕셔너리 d1에서 'b'의 값을 확인하면서 그 값을 삭제하세요
d1={'a':1, 'b':2, 'c':3, 'd':4, 'e':5}

# dict에서 del을 쓰면 key와 value의 item이 통째로 제거되며 값을 referencing할 수 없는 문제
# 반면 pop을 쓰면 value값을 return 받으면서 제거 가능
RemovedValue=d1.pop('b')     # pop()는 은 키 "e"을 제거되면서 value값이 return
print(f"\tRemovedValue with Key'b':{RemovedValue}, \n\tUpdate된 Dict는 {d1}")

	RemovedValue with Key'b':2,
	Update된 Dict는 {'a': 1, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
# Q2 다음과 같이 학생의 이름과 점수를 튜플로 묶은 리스트가 있습니다:
# [("Tom",85), ("Jane",90),("Bob", 75)]
# 이 리스트를 사용해 학생이름을 키로 점수를 값으로 하는 딕셔너리를 생성하고 출력하세요.
a=[("Tom",85), ("Jane",90),("Bob", 75)]

result={}
for item in a:
  result[item[0]]=item[1]
print(result)

## 모범답안
stdu_dict=dict(a)
print(stdu_dict)

{'Tom': 85, 'Jane': 90, 'Bob': 75}
{'Tom': 85, 'Jane': 90, 'Bob': 75}

In [ ]:
test={(1,1):1, (2,2):3}
print(test)
test[(1,1)]=test[(1,1)]+1
print(test)

{(1, 1): 1, (2, 2): 3}
{(1, 1): 2, (2, 2): 3}

In [ ]:
# Q3. 튜플의 불변성 때문에 튜플은 딕셔너리의 키로 사용될 수 있습니다.
# 주어진 위치 자표 리스트에서 각 위치가
# 몇번 나타나는지 계산하는 딕셔너리를 만드세요.
positions=[(1,1),(2,2),(1,1),(3,3),(2,2)]

# option1
result={}
for position in positions:
  if position in result:
    result[position] += 1
  else: result[position]=1
print(result)

# option2
result={}
  if positions[i] in result:
    result[positions[i]] += 1
  else: result[positions[i]]=1
print(result)

{(1, 1): 2, (2, 2): 2, (3, 3): 1}
{(1, 1): 2, (2, 2): 2, (3, 3): 1}

## 자료형 - 집합, set
- 중복을 허용하지 않으며 순서가 없다.

In [ ]:
s1=set([1,2,5,4,3])
s2=set('hello')
print(s1)
print(s2)

## 순서가 없으니 indexing이 안됨
## indexing을 위해서 list로 변환
## 중복을 허용하지 않는 성질을 이용하기 위해 많이 사용

l1=list(s1)
print(l1)
print(l1[1])

l2=list(s2)
indexes=[index for index, value in enumerate(l2) if value == 'h' ]
print(l2[indexes[0]])
print(indexes[:])
indexes=[index for index, value in enumerate(l2) if value == 'o']
print(indexes[:], l2[indexes[0]])

{1, 2, 3, 4, 5}
{'l', 'h', 'e', 'o'}
[1, 2, 3, 4, 5]
2
h
[1]
[3] o

In [ ]:
## Q. 주어진 리스트에서 중복 요소를 제거하고 결과를 출력
print(f"\n\nQ. 주어진 리스트 {nums}에서 중복 요소를 제거하고 결과 출력:")
nums=[1,2,2,3,4,4,4,5]
set1=set(nums)
list1=list(set1)
print(set1, list1)

## Q. s1, s2의 합집합과 교집합을 각각 리스트로 출력
print(f"\n\ns1, s2의 합집합과 교집합을 각각 리스트로 출력:")
s1=set([1,2,3,4,5,6]); s2=set([4,5,6,7,8,9])
com1=s1&s2                         ### LIST로는 and  / or logic 허용 ㅌ
sum1=s1|s2
print(com1, sum1)
print(s1 and s2)                  ### and는 논리 AND 연산자 &는 비트 연산자 (Bitwise)

## Q. s1, s2의 차집합  출력
print(f"\n\ns1, s2의 차집합 출력:")
s1=set([1,2,3,4,5,6]); s2=set([4,5,6,7,8,9])
res1=(s1-(s1&s2))|(s2-(s1&s2))
print(res1)
print(s1.difference(s2))

Q. 주어진 리스트 [1, 2, 2, 3, 4, 4, 4, 5]에서 중복 요소를 제거하고 결과 출력:
{1, 2, 3, 4, 5} [1, 2, 3, 4, 5]


s1, s2의 합집합과 교집합을 각각 리스트로 출력:
{4, 5, 6} {1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}


s1, s2의 차집합 출력:
{1, 2, 3, 7, 8, 9}
{1, 2, 3}

## 자료형 - 논리(Bool) True와 False
- 파이썬에서 참과 거짓을 나타내는 상수. True는 1, False는 0의 값을 가짐
- 조건을 판단해서 그 조건이 참이면 True, 거짓이면 False를 return.

In [ ]:
print(bool(0))
print(bool(''))
print(bool([]))
print(bool(1))
print(bool(100))

False
False
False
True
True

In [ ]:
# 관계 연산자
x=1; y=2
str1='abc'; str2='python'
print(x==y)
print(x!=y)
print(str1==str2)
print(str1!=str2)
print(str1 == 'python')
print(str2== 'python')
print(str1 < str2)   # ASCII 코드 상에서 'a'는 97, 'p'는 112이므로 a가 p보다 작으므로...

False
True
False
True
False
True
True

In [ ]:
# 논리 연산자
bool1=True; bool2=False; bool3=True; bool4=False

print(bool1 and bool2)
print(bool1 or bool2)
print(not bool3)
print(not bool4)


print("### AND 연산자 비트 연산자 TEST: and는 논리 AND 연산자 &는 비트 연산자")
print(bool1 & bool2)
print(bool1 | bool2)
print(~ bool3)
print(~ bool4)

False
True
False
True
### AND 연산자 비트 연산자 TEST: and는 논리 AND 연산자 &는 비트 연산자
False
True
-2
-1

#### 파이썬에서 들여쓰기
- 파이썬에는 실행 코드 부분을 묶어주는 {} 괄호가 없다.
- 대신 들여쓰기(indentation)로 {}를 대신한다.
- 제어문이나 함수이름, 클래스 이름 뒤에 콜론(':')으로 제어문, 함수이름, 클래스 이름의 끝을 표시하며 ':' 다음에 실행 코드를 작성

In [ ]:
#if 1> 2: 와 같이 아무런 action이 없으면 에러 발생하는 데 아래와 같이 pass로 waiver 가능하다
if 1> 2: pass

li=['a', 'b', 'c']
if 'a' in li:
  print('a가 li에 있습니다.')
else:
  print('a가 li에 없습니다.')

a가 li에 있습니다.

#### 사용자 함수

In [ ]:
numbers=[1,2,3]
sum(numbers)      # 파이썬의 내장 함수

# 사용자 함수
def add(in1, in2, in3):
  return in1+in2+in3

add(1,2,3)

def mul(a, b, c):
  return a*b*c
mul(1,2,3)

def sub(a, b):
  return a-b
sub(3,1)

def div(a,b,c):
  if b == 0 or c == 0:
    return "Error: Division by Zero"
  else:  return a/b/c
round(div(1,2,3), 2)

0.17

#### 클래스

In [ ]:
class AddMul:
  def add(self,n1,n2):          # self는 자기 자신을 의미하고 객체를 의미하므로 무조건 넣어줘야.
    return n1+n2
  def mul(self,n1,n2):
    return n1*n2

obj1 = AddMul()           #obj1은 AddMul의 모든 자원 (메소드)를 쓸 수 있는 객체가 됨
print(obj1.add(1,1))

obj2 = AddMul()           #obj2라는 붕어빵을 또 찍어내고 AddMul의 모든 자원 (메소드)를 쓸 수 있는 객체가 됨
print(obj2.mul(3,2))

2
6

In [ ]:
## Task1_0426. 주어진 리스트에서 중복된 요소를 제외하고 고유한 요소의 개수를 세는 프로그램 작성
data1=[1,2,1,2,3,2,1,2,3,4,5,5,5,3,5]

def CntUniq(InList):
  return len(set(InList))
Resul=CntUniq(data1)

print(f"\nTask1_0426. 주어진 리스트 {data1}에서 중복된 요소를 제외하고 고유한 요소의 개수를 프로그램 작성, 실행: \n\t고유요소 개수: {Resul}")


## Task2_0426. 두 개의 리스트에서 공통으로 나타나는 요소들을 찾아 리스트로 반환하는 프로그램을 작성하세요.
# 예시 입력: list1 = [1, 2, 3, 4, 5], list2 = [4, 5, 6, 7, 8]
# 예시 출력: [4, 5]
list1 = [1, 2, 3, 4, 5]; list2 = [4, 5, 6, 7, 8]
def IntersecList(InList1, InList2):
  return list(set(InList1)&set(InList2))
IntsecList= IntersecList(list1, list2)

print(f"\nTask2_0426. 주어진 리스트들 {list1}, {list2}의 공통 요소를 찾아 리스트로 반환하는 프로그램 작성, 실행: \n\t{IntsecList}")


# Task3_0426. 주어진 숫자 리스트에서 특정 값보다 큰 요소가 하나라도 존재하는지 검사하고, 그 결과를 불 값으로 반환하는 함수를 작성하세요.
numbers = [1, 2, 3, 10, 20]
threshold = 15

def TH_det(InList, Thresh):
  if not InList:
    return[]
  else:
    y=[index  for index, value in enumerate(InList) if value > Thresh]
  return y

result=[];
result.extend(TH_det(numbers, threshold))
print(f"\nTask3_0426. 주어진 숫자 리스트 {numbers}에서 {threshold}보다 큰 요소가 하나라도 존재하는지 bool값으로 반환하는 함수 작성 출력:\n\t{bool(result)}")

# Task4_0426. 주어진 문자열이 특정 문자열을 포함하는지 확인하고 결과를 불 값으로 반환하는 함수를 작성하세요.
text = "hello world"
substring = "world" # true

import re
def MatchString(Str, SubStr):
#  if re.search(substring, text):
  return(re.search(substring, text))

IsMatch=[];
IsMatch=MatchString(text, substring)
#print(f"Task4_0426. 주어진 문자열{text}은 {substring} 문자열을 포함하는지 bool값으로 반환하는 함수 작성 출력:\n\t{bool(IsMatch)}")
IsMatch=[];
IsMatch=MatchString(text, substring).start()          #.start() .end() ==> 시작 index 반환 .group()==> matching_str 반환
print(f"\nTask4_0426. 주어진 문자열{text}은 {substring} 문자열을 포함하는지 bool값으로 반환하는 함수 작성 출력:\n\t{bool(IsMatch)}")

#Task5_0426. 주어진 연도가 윤년인지 판별하는 함수를 작성하세요. 윤년은 다음의 조건을 만족해야 합니다:
# 4로 나누어 떨어진다.
# 100으로 나누어 떨어지지 않거나, 400으로 나누어 떨어지면 윤년이다. # 두조건을 동시에 만족해야
year = 2020;       # 101:F, 104:T, 100: F, 101:F, 200:F 400:T, 800:T

def IsLeapYear(InYear):
  if (year%4 == 0) and ((year%100 != 0) or (year%400 == 0)): LeapYear_Flag=1
#  if (not year%4) and ((year%100) or (not year%400)): LeapYear_Flag=1
  else: LeapYear_Flag=0
  return LeapYear_Flag

print(f"\nTask5_0426. 주어진 연도 {year}년이 윤년인지를 판별하는 함수, bool값으로 결과 반환 함수 작성 출력:\n\t{bool(IsLeapYear(year))}")

#Task6_0426. calculator 클래스를 작성하고 4칙 연산을 수행하는 객체 4개를 작성하여 결과를 출력하세요
class Calculator:
  def add(self,n1,n2):
    return n1+n2
  def sub(self,n1,n2):
    return n1-n2
  def mul(self,n1,n2):
    return n1*n2
  def div(self,n1,n2):
    if n2 == 0: return "Error: Divided by Zero"
    else: return round(n1/n2, 3)

obj1 = Calculator()           # CLASS Calculator의 모든 자원(메소드)을 쓸 수 있는 객체 define
obj2 = Calculator()           # CLASS Calculator의 모든 자원(메소드)을 쓸 수 있는 객체 define
obj3 = Calculator()           # CLASS Calculator의 모든 자원(메소드)을 쓸 수 있는 객체 define
obj4 = Calculator()           # CLASS Calculator의 모든 자원(메소드)을 쓸 수 있는 객체 define

print(f"\nTask6_0426. calculator 클래스를 작성, 객체 4개를 생성 시켜 사칙연산 결과 출력:\n\t{obj1.add(10,20)}\n\t{obj2.sub(10,20)}\n\t{obj3.mul(10,20)}\n\t{obj4.div(10,20)}\n\n")

# Task7_0426. 다음 과제를 수행하세요.
# 사용자로 부터 텍스트를 입력 받는다.
# 문자을 단어 단위로 분리 : split()
# 단어의 빈도수를 저장할 딕셔너리를 생성
# 각 단어의 빈도 수를 계산(for 문 / if else문) word=word.lower()
# 결과 출력 [ 예시 ]
# 문장을 입력하세요: I love apple. I love orange. Apple is tasty
# {'i': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1}
# . 삭제하면 {'i': 2, 'love': 2, 'apple': 2, 'orange.': 1, 'is': 1, 'tasty': 1}

#InputText="I love apple. I love orange. Apple is tasty"
InputText=input("Input Your Text:  ")
InputText=InputText.lower()
# SplitText1=[]
# SplitText1 = InputText.split(" ")
# SplitText2 = InputText.replace(".", "").replace(",","").replace("!","").split(" ")
import re
## .split, .replace는 정규표현식 허용X, re.split()과 re.sub은 정규 표현식으로 처리 가능

class dummy:
  def WdCounter(self,InStr):
    SplitText=[]; SplitText = re.split('\s+',InStr)
    WordCounter={}
    for item in SplitText:
      if item in WordCounter: WordCounter[item] += 1
      else: WordCounter[item] = 1
    return WordCounter

  def WdCounterOpt2(self,InStr):
    SplitText=[]; SplitText = re.sub("[.,!]", "", InStr).split()
    WordCounter={}
    for item in SplitText:
      if item in WordCounter: WordCounter[item] += 1
      else: WordCounter[item] = 1
    return WordCounter

obj1 = dummy()           # CLASS dummy의 모든 자원(메소드)을 쓸 수 있는 객체 define

print(f"\nTask7_0426. 사용자로부터 입력받은 text에서 단어 단위의 빈도 수를 계산해서 출력: \n\t사용자 Input TEXT:{InputText} \n\t{obj1.WdCounter(InputText)}")
print(f"\nTask7_0426_Option2. 문장부호 생략: \n\t사용자 Input TEXT:{InputText} \n\t{obj1.WdCounterOpt2(InputText)}")

Task1_0426. 주어진 리스트 [1, 2, 1, 2, 3, 2, 1, 2, 3, 4, 5, 5, 5, 3, 5]에서 중복된 요소를 제외하고 고유한 요소의 개수를 프로그램 작성, 실행:
	고유요소 개수: 5

Task2_0426. 주어진 리스트들 [1, 2, 3, 4, 5], [4, 5, 6, 7, 8]의 공통 요소를 찾아 리스트로 반환하는 프로그램 작성, 실행:
	[4, 5]

Task3_0426. 주어진 숫자 리스트 [1, 2, 3, 10, 20]에서 15보다 큰 요소가 하나라도 존재하는지 bool값으로 반환하는 함수 작성 출력:
	True

Task4_0426. 주어진 문자열hello world은 world 문자열을 포함하는지 bool값으로 반환하는 함수 작성 출력:
	True

Task5_0426. 주어진 연도 2020년이 윤년인지를 판별하는 함수, bool값으로 결과 반환 함수 작성 출력:
	True

Task6_0426. calculator 클래스를 작성, 객체 4개를 생성 시켜 사칙연산 결과 출력:
	30
	-10
	200
	0.5


Input Your Text:  I love apple. I love orange. Apple is tasty

Task7_0426. 사용자로부터 입력받은 text에서 단어 단위의 빈도 수를 계산해서 출력:
	사용자 Input TEXT:i love apple. i love orange. apple is tasty
	{'i': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1}

Task7_0426_Option2. 문장부호 생략:
	사용자 Input TEXT:i love apple. i love orange. apple is tasty
	{'i': 2, 'love': 2, 'apple': 2, 'orange': 1, 'is': 1, 'tasty': 1}

#### 사용자 함수의 형태 (4-Types)
- 입력값, 출력값 모두 있는 경우
- 입력값만 있는 경우
- 출력값만 있는 경우
- 입력값, 출력값 모두 없는 경우

In [ ]:
### 0426 TASK 강사님 모범 답안

##### #3
numbers = [1, 2, 3, 10, 20]
threshold = 12
if any(num > 15 for num in numbers):          ### any는 하나로도 해당하면 true
  print(True)
else:
  print(False)

##  ===> 위와 같이 simple하게 할 수 있지만 아래와 같이 함수로
def CheckGreaterThanThresh(numbers,threshold):
  for num in numbers:
    if num > threshold:
      return True
  return False                ## else로 쓰지 않고 이와 같이 한 이유는 function문 안에 if/else를 쓰면 X 왜냐하면 function은 return한번만 하고 끝난다.
print(f"\nTask3_0426. 주어진 숫자 리스트 {numbers}에서 {threshold}보다 큰 요소가 하나라도 존재하는지 bool값으로 반환하는 함수 작성 출력:\n\t{CheckGreaterThanThresh(numbers,threshold)}")

#####  #4
text = "hello world"
substring = "world" # true

def MatchString(Str, SubStr):
  if SubStr in Str:
    return True
  else: return False
print(f"\nTask4_0426. 주어진 문자열{text}은 {substring} 문자열을 포함하는지 bool값으로 반환하는 함수 작성 출력:\n\t{MatchString(text, substring)}")

#####   #5
# 윤년 ? (4로 나누어 떨어진다) & ((100으로 나누어 떨어지지 않는다) or (400으로 나누어 떨어진다))
year = 2020;       # 101:F, 104:T, 100: F, 101:F, 200:F 400:T, 800:T

def IsLeapYear(InYear):
  if (year%4 == 0) and ((year%100 != 0) or (year%400 == 0)): return True
#  if (not year%4) and ((year%100) or (not year%400)): return True
  else: return False
result=IsLeapYear(year)
print(f"\nTask5_0426. 주어진 연도 {year}년이 윤년인지를 판별하는 함수, bool값으로 결과 반환 함수 작성 출력:\n\t{result}")

True

Task3_0426. 주어진 숫자 리스트 [1, 2, 3, 10, 20]에서 12보다 큰 요소가 하나라도 존재하는지 bool값으로 반환하는 함수 작성 출력:
	True

Task4_0426. 주어진 문자열hello world은 world 문자열을 포함하는지 bool값으로 반환하는 함수 작성 출력:
	True

Task5_0426. 주어진 연도 800년이 윤년인지를 판별하는 함수, bool값으로 결과 반환 함수 작성 출력:
	True

In [ ]:
#### split

time_str='12:30:55'
time_list=[]; time_list=time_str.split(':')
time_list

# Q. multi-line_text를 아래 리스트로 분리
multi_line_text="Hello\nWorld\nPython\nProgramming"
print(multi_line_text)

result=multi_line_text.split()
print(result)

Hello
World
Python
Programming
['Hello', 'World', 'Python', 'Programming']
12
10
20
10.0

In [ ]:
## 복합 대입 연산자
num=10
num += 10
num

# Q. 복합 대입 연산자를 이용해서 사칙 연산을 수행
a=10; b=2
a += b
print(a)
a -= b
print(a)
a *= b
print(a)
a /= b
print(a)

In [ ]:
## 소문자, 대문자 변환
word='DOG'
w1=word.lower();
print(w1)
w2=w1.upper();
print(w2)

dog
DOG

## 이스케이프 문자
- 키보드로 입력하기 어려운 기호등을 나타낸다.
- \로 시작, \n,\t

In [ ]:
print('나는 파이썬을 사랑합니다.\n파이썬은 자바보다 훨씬 쉽습니다.')
print('나는 파이썬을 사랑합니다.\t파이썬은 자바보다 훨씬 쉽습니다.')

나는 파이썬을 사랑합니다.
파이썬은 자바보다 훨씬 쉽습니다.
나는 파이썬을 사랑합니다.	파이썬은 자바보다 훨씬 쉽습니다.

In [ ]:
print("She said, \"Hi!\"")    # 큰 따옴표의 기능이 아니라 문자 자체로 출력하기 위한 waiver
print('it\'s raining.')       # 작 따옴표의 기능이 아니라 문자 자체로 출력하기 위한 waiver
print("backslash: \\")        # backslash 문자 자체로 출력하기 위한 waiver

She said, "Hi!"
it's raining.
backslash: \

#### 문자열 포멧
- % operator 사용 : % 연산자를 사용하려면 %(VAR_NAME)TYPE 형식으로 적어주며 VAR_NAME 은 바인딩할 변수명을 TYPE 은 변수의 유형을 적어준다.
- str.format : str.format() 은 파이썬 표현식 값을 바인딩할 부분을 중괄호 {} 로 표시하고 .format() 뒤에 바인딩할 값을 기술해 준다.
- f-string : 문자열에 f 나 F 접두사를 붙이고 표현식을 {expr} 형식으로 작성하면 출력 문자열이 파이썬 표현식의 값으로 바뀐다.

In [ ]:
#1. % operator 사용 : % 연산자를 사용하려면 %(VAR_NAME)TYPE 형식으로 적어주며 VAR_NAME 은 바인딩할 변수명을 TYPE 은 변수의 유형
print('%(num)d, %(float)f, %(string)s' %{"num":3, "float":3, "string":'hello'})

3, 3.000000, hello

In [ ]:
txt1='자바'; txt2='파이썬'
num1=5; num2=10
print('나는 %s 보다 %s에 더 익숙합니다.' %(txt1,txt2))

print('%s은 %s보다 %d배 더 쉽습니다.' %(txt1, txt2, num1))

print('%d + %d = %d'%(num1, num2, num1+num2))

print('작년 세계 경제 성장률은 전년에 비해 %d%% 포인트 증가했다.'%num1)

나는 자바 보다 파이썬에 더 익숙합니다.
자바은 파이썬보다 5배 더 쉽습니다.
5 + 10 = 15
작년 세계 경제 성장률은 전년에 비해 5% 포인트 증가했다.

In [ ]:
# 2. str.format : str.format() 은 파이썬 표현식 값을 바인딩할 부분을 중괄호 {} 로 표시하고 .format() 뒤에 바인딩할 값을 기술해 준다.
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [ ]:
# 3. f-string : 문자열에 f 나 F 접두사를 붙이고 표현식을 {expr} 형식으로 작성하면 출력 문자열이 파이썬 표현식의 값으로 바뀐다.
name='홍길동'
age=30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [ ]:
table={'Tom':1234, 'Jack': 4518, 'Eddie': 9638}
for name,phone in table.items():      #
  print(f'{name:5} ==> {phone:5d}')   # 최소 5개 문자 너비

Tom   ==>  1234
Jack  ==>  4518
Eddie ==>  9638

In [ ]:
# 소수점 4자리까지만 표현
y=3.421345
f'{y:0.4f}'

'3.4213'

In [ ]:
# 소수점 4자리까지만 표현하면서 총 자리수를 10으로 맞춤
y=3.421345
f'{y:10.4f}'

'    3.4213'

In [ ]:
# Q. num1=12345, num2=12.345679를 아래와 같이 출력하세요
num1=12345; num2=12.345679
print(f'{num1:5d}')
print(f'{num1:10d}')
print(f'{num2:9.6f}')
print(f'{num2:16.3f}')

12345
     12345
12.345679
          12.346

#### 2진수, 8진수, 16진수의 데이터 표현 방법

- 우리가 프로그래밍을 하면서 변수에 어떤 값을 저장할 때 10진수는 일상적 표현을 그대로 대입한다.
- 예를들어 15를 저장하고 싶다면 int a= 15; 와 같이 15라는 숫자를 그대로 대입하면 된다.
- 하지만 2진수, 8진수, 16진수는 표현법이 따로 정해져있다.<br><br>  

- 2진수는 대입하고자 하는 값 앞에 0b를 붙인다. (숫자0과 영문자b)
- 8진수는 대입하고자 하는 값 앞에 0o 을 붙인다. (숫자0 영문자o)
- 16진수는 대입하고자 하는 값 앞에 0x 를 붙인다. (숫자0과 영문자x)

아래의 예시를 보자.
변수 a,b,c,d 는 모두 10진수 122 이라는 값을 저장하는 코드이다.

122는
- 2진수로 1111010
- 8진수로 172
- 16진수로 7A 이다.

In [ ]:
# 122에 대해서..
a=0o172
b=0x7A
c=0b1111010
print (a, b, c)

n1=122
print(f"16진수: {hex(n1)}")
print(f"8진수: {oct(n1)}")
print(f"2진수: {bin(n1)}")

122 122 122
16진수: 0x7a
8진수: 0o172
2진수: 0b1111010

In [ ]:
# Q. 10을 10진수, 2진수, 8진수, 16진수로 출력하시오
n2=10
print(f"10진수: {int(n2)}")
print(f"2진수: {bin(n2)}")
print(f"8진수: {oct(n2)}")
print(f"16진수: {hex(n2)}\n")

print(f"10진수: {10}")
print(f"2진수: {0b10}")
print(f"8진수: {0o10}")
print(f"16진수: {0x10}")

10진수: 10
2진수: 0b1010
8진수: 0o12
16진수: 0xa

10진수: 10
2진수: 2
8진수: 8
16진수: 16

In [ ]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
e=0o177   # 8진수
f=0xABC   #16진수
g=0b101010  #2진수

print(e)
print(f)
print(g)

127
2748
42

In [ ]:
# 2진수를 10진수로 표현
g1=0b1000
g2=0b100
g3=0b10
print(g1,g2,g3)

# 16진수를 10진수로 표현
# 1~9 A B C D E F
f1=0xA
f2=0xF
f3=0xAB
print(f1, f2, f3)
print(16*10+11)     #0xAB와 동일

f4=0xABF
print(f4)
print(16*16*10+16*11+15)    #0xABF의 계산

8 4 2
10 15 171
171
2751
2751

In [ ]:
#Q. 0xABC를 계산하시오
f5=0xABC
print(f5)
print(16*16*10+16*11+12)    #0xABF의 계산

2748
2748

In [ ]:

# Task1_0429. input_str을 아래와 같이 단어로 분리하여 출력하세요.
import re
input_str='Hello, world! How are you today? I am Fine. Thank you!'
result=re.split('[ ,.!?#~]+', input_str)
print("Task1_0429. String을 단어별로 분리:", result)

# Task2_0429. 십진수 122를 2진수, 8진수, 16진수로 변경하여 출력하세요
n1=122
print("\nTask2_0429.122의 2진수, 8진수, 16진수 표기")
print(f"2진수: \t\t{bin(n1)}")
print(f"8진수: \t\t{oct(n1)}")
print(f"16진수: \t{hex(n1)}\n")

# Task3_0429. 두 수의 곱셈 결과를 계산하고, 그 결과에 10을 더하세요.
n1=0xF
n2=0xAB
res=n1*n2+10
print(f"Task3_0429. N1*N2+10 (where, N1={hex(n1)}, N2={hex(n2)})의 결과는 {res:5d}(Decimal), {hex(res)}(Hexadecimal)\n")
#print(16**2*10+15)

# Task4_0429. 주어진 리스트에서 두 번째 요소를 삭제하고, 마지막에 새로운 요소 'Python'을 추가하세요.
#리스트: ['Java', 'C', 'JavaScript']
list1=['Java', 'C', 'JavaScript']
del list1[1];                       #result=list1.remove('C')
list1.append('Python')              #list1.insert(-1,'Python')  insert로는 특정 index 앞에 넣는다.. end에는 불가능
print(f"Task4_0429. 새로운 요소가 추가된 리스트는 {list1}\n")

# Task5_0429. 주어진 문자열에서 처음 세 글자와 마지막 세 글자를 연결하여 새로운 문자열을 만드세요.
#문자열: 'Incredible'
list_str='Incredible'
print(f"Task5_0429. 새로운 문자열: {list_str[:3]+list_str[-3:]}\n")

# Task6_0429. 사용자의 이름과 이메일을 딕셔너리로 저장하고, 이름을 입력받아 해당하는 이메일을 출력하세요.
#사용자 정보: 이름 - 'Alice', 이메일 - 'alice@example.com'
DataBase={"Tom":'tom@example.com',"Alice":'alice@example.com', "Jane":'Janematha@example.com', "Mary":'Mary@example.com'}
print(f"Task6_0429.")
### 이름/이메일 입력 받기
Name=input("사용자 이름:  ")              ### 사용자 이름:  David
MailAddr=input("사용자 이메일:  ")        ### 사용자 이메일:  david.hue@example.com
#Name='David'              ### 사용자 이름:  David
#MailAddr='david.hue@example.com'

### 입력 받은 data 저장
DataBase[Name]=MailAddr

### 출력을 원하는 이메일의 사용자 입력 받기
Name_Print=input("출력 하고자 하는 사용자 이름:  ")              ### 사용자 이름:  Tom
if Name_Print in DataBase:
  print(f"{Name_Print}의 메일 주소는: {DataBase[Name_Print]}")
else: print(f"존재하지 않는 이름입니다.")

# Task7_0429. 주어진 두 튜플에서 공통 요소만을 찾아 집합으로 만드세요.
#튜플: (1, 2, 3, 4, 5)와 (4, 5, 6, 7, 8)
Tup1=(1, 2, 3, 4, 5); Tup2=(4, 5, 6, 7, 8)
Common=set(Tup1)&set(Tup2)                  # LIST나 Tuple에서는 & 로 하면 error 발생
print(f"\nTask7_0429. {Tup1}과 {Tup2}의 공통 요소를 집합으로 나타내면: {Common}")

# Task8_Challenge_0429. 다음 요구 사항을 충족하는 프로그램을 작성하세요:
# - 사용자로부터 이름, 나이, 좋아하는 색상을 입력받습니다.
# - 입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
# - 이름이 'John'인 사용자의 정보만 출력하세요.
# - 전체 사용자의 평균 나이를 계산하고 출력하세요.
#1. 사용자 데이터:
#- 이름: John
#- 나이: 28
#- 좋아하는 색상: Blue
#2. 사용자 데이터:
#- 이름: Alice
#- 나이: 24
#- 좋아하는 색상: Red
#3. 사용자 데이터:
#- 이름: Maria
#- 나이: 32
#- 좋아하는 색상: Green

John={'Name':'John', 'Age':28, 'Fav_Col':'Blue'}
Alice={'Name':'Alice', 'Age':24, 'Fav_Col':'Red'}
Maria={'Name':'Maria', 'Age':32, 'Fav_Col':'Green'}
DataBase=[John, Alice, Maria]

print(f"\nTask8_0429. List에 저장되어 있는 사용자 정보는: {DataBase}")
i=0; age_sum=0
for Litem in DataBase:
  if DataBase[i]['Name'] == 'John':
    print(f"John의 사용자 정보는: {DataBase[i]}")
  age_sum += DataBase[i]['Age']
  i += 1
aver_age=age_sum/(i)
print(f"모든 사용자의 평균 나이는 {aver_age}")

Task1_0429. String을 단어별로 분리: ['Hello', 'world', 'How', 'are', 'you', 'today?', 'I', 'am', 'Fine', 'Thank', 'you', '']

Task2_0429.122의 2진수, 8진수, 16진수 표기
2진수: 		0b1111010
8진수: 		0o172
16진수: 	0x7a

Task3_0429. N1*N2+10 (where, N1=0xf, N2=0xab)의 결과는  2575(Decimal), 0xa0f(Hexadecimal)

Task4_0429. 새로운 요소가 추가된 리스트는 ['Java', 'JavaScript', 'Python']

Task5_0429. 새로운 문자열: Incble

Task6_0429.
사용자 이름:  David
사용자 이메일:  david.hugh@example.com
출력 하고자 하는 사용자 이름:  David
David의 메일 주소는: david.hugh@example.com

Task7_0429. (1, 2, 3, 4, 5)과 (4, 5, 6, 7, 8)의 공통 요소를 집합으로 나타내면: {4, 5}

Task8_0429. List에 저장되어 있는 사용자 정보는: [{'Name': 'John', 'Age': 28, 'Fav_Col': 'Blue'}, {'Name': 'Alice', 'Age': 24, 'Fav_Col': 'Red'}, {'Name': 'Maria', 'Age': 32, 'Fav_Col': 'Green'}]
John의 사용자 정보는: {'Name': 'John', 'Age': 28, 'Fav_Col': 'Blue'}
모든 사용자의 평균 나이는 28.0

re.split() 함수의 동작:
- 주어진 문자열에서 공백, 쉼표, 마침표, 물음표, 느낌표를 포함하여 연속된 어떤 조합이라도 하나의 구분자로 취급하고, 이에 따라 문자열을 분리

정규 표현식 구성 요소:
- 대괄호([ ]): 대괄호는 문자 클래스를 만들며 대괄호 안에 포함된 어떤 문자와도 일치할 수 있다. 여기서는 공백( ), 쉼표(,), 마침표(.), 물음표(?), 느낌표(!)가 포함되어 있어 이 중 어떤 한 문자와도 일치할 수 있다.
- 플러스 기호(+): 이 기호는 직전의 요소가 하나 이상 반복될 때 사용. 즉, `[ ,.?!]+`는 공백, 쉼표, 마침표, 물음표, 느낌표 중 하나 이상 연속된 시퀀스와 일치. 이를 통해 문자열을 분리할 때 하나의 구분자만이 아닌, 여러 구분자가 연속적으로 위치해 있는 경우에도 단일 구분점으로 취급할 수 있다.

In [20]:
### 04_29 TASK 강사님 모범 답안

# Task1_0429. input_str을 아래와 같이 단어로 분리하여 출력하세요.
import re
input_str='Hello, world! How are you today? I am Fine. Thank you!'
results=re.split('[ ,.!?#~]+', test)
#results=[result for result in results if result]
results=list(filter(None, results))
print("Task1_0429. String을 단어별로 분리:", results)

Task1_0429. String을 단어별로 분리: ['Hello', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'Fine', 'Thank', 'you']

In [14]:
# Task4_0429. 주어진 리스트에서 두 번째 요소를 삭제하고, 마지막에 새로운 요소 'Python'을 추가하세요.
#리스트: ['Java', 'C', 'JavaScript']
list1=['Java', 'C', 'JavaScript']
list1.pop();                       #del list1[-1], result=list1.remove('C')
list1.append('Python')              #list1.insert(-1,'Python')  insert로는 특정 index 앞에 넣는다.. end에는 불가능
print(f"Task4_0429. 새로운 요소가 추가된 리스트는 {list1}\n")

Task4_0429. 새로운 요소가 추가된 리스트는 ['Java', 'C', 'Python']

In [23]:
# Task8_Challenge_0429. 다음 요구 사항을 충족하는 프로그램을 작성하세요:
# - 사용자로부터 이름, 나이, 좋아하는 색상을 입력받습니다.
# - 입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
# - 이름이 'John'인 사용자의 정보만 출력하세요.
# - 전체 사용자의 평균 나이를 계산하고 출력하세요.
#1. 사용자 데이터:
#- 이름: John
#- 나이: 28
#- 좋아하는 색상: Blue
#2. 사용자 데이터:
#- 이름: Alice
#- 나이: 24
#- 좋아하는 색상: Red
#3. 사용자 데이터:
#- 이름: Maria
#- 나이: 32
#- 좋아하는 색상: Green
users=[]
for _ in range(3):                  # _ 는 형식적인 for-loop
  name = input('이름을 입력하세요: ')
  age = int(input("나이를 입력하세요: "))
  fav_col=input("좋아하는 색상을 입력하세요: ")

  #users[user][Name]=name; users[user][Age]=age; users[user][Fav_Col]=fav_col;
  user_info={'Name':name, "Age":age, 'Fav_Col':fav_col}
  users.append(user_info)
for user in users:
  if user['Name']=='John':
    print(f'John\'s info: {user}')

age_sum=sum(user['Age'] for user in users)
aver_age=age_sum/len(users)
print(f"모든 사용자의 평균 나이는 {aver_age}")

이름을 입력하세요: John
나이를 입력하세요: 28
좋아하는 색상을 입력하세요: Blue
이름을 입력하세요: Alice
나이를 입력하세요: 24
좋아하는 색상을 입력하세요: Red
이름을 입력하세요: Maria
나이를 입력하세요: 32
좋아하는 색상을 입력하세요: Green
John's info: {'Name': 'John', 'Age': 28, 'Fav_Col': 'Blue'}
모든 사용자의 평균 나이는 28.0

#### 파이썬에서 "모든 것이 객체"
파이썬 내에서 데이터와 함수, 모듈, 클래스 등 모든 것이 객체로 취급된다는 것을 의미
- 기본 데이터 타입(예: 정수, 실수, 문자열 등)을 포함하여 모든 데이터가 객체. 각 데이터 타입은 특정 클래스의 인스턴스로, 해당 데이터 타입의 메소드와 속성을 가진다. 예를 들어, 정수는 int 클래스의 인스턴스로, 여러 가지 메소드(예: bit_length(), __add__() 등)를 사용할 수 있습니다.

In [24]:
x=10
print(x.bit_length())         # x라는 정수 자체도 int 클래스로서 여러가지 method를 .xx type으로 연산이 가능

4

- 파이썬에서 함수도 객체로 취급. 이는 함수를 변수에 할당하거나, 다른 함수의 인자로 전달하거나, 리스트나 딕셔너리 같은 데이터 구조에 저장할 수 있음을 의미

In [25]:
def greet():
  print("Hello! world!")

print(greet.__name__)         # 함수 이름 출력 greet 함수도 객체로 취급하고 __name__은 함수 이름을 의미함

greet

- 파이썬에서 클래스와 모듈 또한 객체. 클래스는 type의 인스턴스로, 메소드와 속성을 포함할 수 있다. 모듈도 객체로 취급되어, 모듈 내의 함수나 변수 등을 속성으로 가질 수 있다.

In [26]:
import math

print(type(math))       #<class 'module'>
print(math.sqrt(4))     #모듈의 메소드 사용

<class 'module'>
2.0

- type 함수가 반환하는 결과가 클래스 이름(예: <class 'list'>)으로 나오는 것은, 해당 객체가 해당 클래스의 인스턴스라는 것을 의미

In [27]:
x=1
print(type(x))              # <class 'int'> x는 클래스 int로 만들어진 객체

y='hello'
print(type(y))              # <class 'str'> y는 클래스 str로 만들어진 객체

def func():
  pass

print(type(func))           # <class 'function'> func는 function이라는 클래스로 만들어진 객체

<class 'int'>
<class 'str'>
<class 'function'>

In [28]:
list=[1,2,3,4]
print(type(list))             <class 'list'>

tup1=(1,2,3,4)
print(type(tup1))             <class 'tuple'>

dict1={'key':'value'}
print(type(dict1))            <class 'dict'>

<class 'list'>
<class 'tuple'>
<class 'dict'>

In [30]:
## 사용자가 직접 작성한 클래스에서 객체를 만들 경우
class Car:
  def __init__(self, model):        # __init__ 은 파이썬에서 클래스의 생성자(constructor) 메소드; 클래스의 인스턴스를 생성할 때 자동으로 호출되며, 인스턴스가 생성될 때 초기화 작업을 수행하는 메소드
    self.model=model                # agu. model을 받아서 self 객체로 self.model로 define

my_car=Car("Toyota")
print(type(my_car))                 # <class '__main__.Car'>  cf) print(greet.__name__)   # 함수 이름 출력할때 __name__은 함수 greet의 이름을 의미함

<class '__main__.Car'>

## Class
- \__init__은 파이썬에서 클래스의 생성자(constructor) 메소드입니다. 클래스의 인스턴스를 생성할 때 자동으로 호출되며, 인스턴스가 생성될 때 초기화 작업을 수행하는 메소드입니다. \__init__ 메소드는 클래스 내에 정의된 다른 메소드와 마찬가지로 첫 번째 매개변수로 self를 사용합니다. self를 통해 인스턴스 변수를 초기화하고, 필요한 경우 다른 초기화 작업을 수행할 수 있습니다.
- 어떤 스크립트 파일이든 파이썬 인터프리터가 최초로 실행한 스크립트 파일의 \__name__ 에는 \__main__ 이 들어간다. 이는 프로그램의 시작점(entry point)이라는 뜻이다. 파이썬의 코드 실행방식과 연관되어 파이썬은 최초로 시작하는 스크립트 파일과 모듈의 차이가 없다

- self는 파이썬에서 클래스의 인스턴스(instance)를 나타내는 예약어입니다. 클래스를 정의할 때, 메소드의 첫 번째 매개변수로 self를 사용하는 것이 일반적입니다.( self 대신 다른 임의의 단어를 사용해도 오류 없이 잘 작동합니다. 그러나, 이러한 코드는 파이썬에서 권장하는 관례와 달라서 이 코드를 읽는 다른 개발자들에게 혼동을 줄 수 있습니다.) self를 사용하면 인스턴스 변수(instance variable)와 인스턴스 메소드(instance method)에 접근할 수 있습니다.

- 아래 코드에서 person1은 Person 클래스의 인스턴스입니다. Person 클래스의\__init__ 메소드를 호출하여 인스턴스 변수 name과 age를 초기화합니다. 이후 say_hello 메소드를 호출하여 인스턴스 변수 name과 age를 출력하고 more 메소드를 호출하여 say_hello 메소드를 한 번 더 사용합니다. 마지막 프린트 문에서 name 과 age가 인스턴스 변수로 저장된 것을 알 수 있습니다.

In [31]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def say_hello(self):
        print("안녕하세요! 제 이름은 {}입니다. {}살입니다.".format(self.name, self.age))

    def more(self):
        print("one more!")
        self.say_hello()

person1 = Person("Alice", 20)
person1.say_hello()

person1.more()
print(person1.name, person1.age)

안녕하세요! 제 이름은 Alice입니다. 20살입니다.
one more!
안녕하세요! 제 이름은 Alice입니다. 20살입니다.
Alice 20

In [33]:
print(dir(int)); print(dir(list))         # 객체에 대해서 사용가능한 메소드들을 모두 나열

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [16]:
#### table형태로 입력 받아서 DB 만들고, 출력하는 거 연습해보자
## input file User_DataBase
## Name Age Favor_Color

import os
cur_path=os.getcwd()
os.chdir('/content/drive/MyDrive/00_KITA_2404/M2_Program')
cur_path=os.getcwd();
current_file=current_path+'/'+'User_DataBase.txt'
f_name = open(current_file, 'r')
f = open("C:/doit/새파일.txt", 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()