In [ ]:
# Task1_0507. 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요.
#각각의 string을 set으로 해서 len가 큰 순서로 sort
strings=('a', 'ca', 'bar', 'aaaa', 'ababa')

str_new=sorted(strings, key=lambda x: (-len(set(x)), -len(x)))
print(str_new)

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [ ]:
# Task2_0507. eval 함수를 활용하여 a, b 변수와 연산자를 입력하면 사칙연산을 수행하는 코드를 작성하세요 (1) eval 사용하는 경우, (2) eval을 사용하지 않고..

### Option1: Using EVAL()
# a1=3; b1=4
# expression=input('수식을 입력하세요.> ') ## string type을 int나 float으로 안바꿔도 된다.
# print(eval(expression))


#### Option2: w/o EVAL()
import re
a1=3; b1=4
expression=input('수식을 입력하세요.> ').replace(" ","")
list1=[]
list1=re.split("[\*]+",expression)
print(list1)

if re.search("\*", expression):
  print(int(list1[0]))
  print(int(list1[0])*int(list1[1]))


# if re.search("\+", expression):
#   print(list1[0]+list1[1])
# elif re.search("-", expression):
#   print(list1[0]-list1[1])
# elif re.search("/", expression):
#   print(list1[0]/list1[1])
# elif re.search("%", expression):
#   print(list1[0]%list1[1])
# else: print("사칙연산을 위한 수식을 다시 입력하세요")


print(expression)

#a1 * b1

수식을 입력하세요.> a1 * b1
['a1', 'b1']

ValueError: invalid literal for int() with base 10: 'a1'

In [ ]:
#Task3_0507. list1에 대해서 아래와 같이 출력하는 코드를 작성하세요.
list1 = ['김부장', '이차장', '김과장', '이대리', '오사원', '김인턴']

# 인사평가 1번째 해당자는 김부장입니다. 회의실A로 오시기 바랍니다.
# 인사평가 2번째 해당자는 이차장입니다. 회의실A로 오시기 바랍니다.
# 인사평가 3번째 해당자는 김과장입니다. 회의실A로 오시기 바랍니다.
# 인사평가 4번째 해당자는 이대리입니다. 회의실A로 오시기 바랍니다.
# 인사평가 5번째 해당자는 오사원입니다. 회의실A로 오시기 바랍니다.
# 인사평가 6번째 해당자는 김인턴입니다. 회의실A로 오시기 바랍니다.

for i, item in enumerate(list1):
  print(f"인사평가 {i+1}번째 해당자는 {item}입니다. 회의실A로 오시기 바랍니다.")

인사평가 1번째 해당자는 김부장입니다. 회의실A로 오시기 바랍니다.
인사평가 2번째 해당자는 이차장입니다. 회의실A로 오시기 바랍니다.
인사평가 3번째 해당자는 김과장입니다. 회의실A로 오시기 바랍니다.
인사평가 4번째 해당자는 이대리입니다. 회의실A로 오시기 바랍니다.
인사평가 5번째 해당자는 오사원입니다. 회의실A로 오시기 바랍니다.
인사평가 6번째 해당자는 김인턴입니다. 회의실A로 오시기 바랍니다.

In [ ]:
# Task4_0507. 주어진 문자열 리스트의 요소들을 대문자로 변환하세요.
words = ["hello", "world", "python", "map"]
words_new=[i.upper() for i in words]
print(words_new)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [ ]:
# Task5_0507. 주어진 리스트에서 'p'로 시작하는 단어만 필터링하세요.

words = ["python", "is", "powerful", "programming", "language", "pandas"]
words_new=[i for i in words if i[0]=='p']
print(words_new)

['python', 'powerful', 'programming', 'pandas']

In [ ]:
# Task6_0507. 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(2가지 방법)


# Option1
list1 = [0,1,2,3,4,5,6]
list1.remove(2)
print(list1)

# Option2
list1 = [0,1,2,3,4,5,6]
del list1[2]
print(list1)

# Option3
list1 = [0,1,2,3,4,5,6]
list2=[value for index, value in enumerate(list1) if value != 2]
print(list2)

# Option4
list1 = [0,1,2,3,4,5,6]
list2=list(filter(lambda x: x != 2, list1))
print(list2)

[0, 1, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]

In [ ]:
# Task7_0507. 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요.

# [1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]\
# [1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]\
# ('abc','def') -> [('a','d'),('b','e'),('c','f')]

# [1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]
L1=[1,2,3]; L2=[4,5,6]
unified1=[(i,j) for i, j in zip(L1, L2)]
print(unified1)

# [1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]
L1=[1,2,3]; L2=[4,5,6]; L3=[7,8,9]
unified2=[(i,j,k) for i, j, k in zip(L1, L2, L3)]
print(unified2)

# ('abc','def') -> [('a','d'),('b','e'),('c','f')]
L1=('abc','def')
unified3=[(i,j) for i, j in zip(L1[0], L1[1])]
print(unified3)

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [ ]:
# Task8_0507. url에서 호스트 도메인(news.naver.com)을 추출하여 출력하세요.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

## Option1
import requests
from bs4 import BeautifulSoup
from urllib.request import urlopen
import urllib

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
parsed_uri = urllib.request.urlparse(url)
print()
print(f"호스트 도메인: {parsed_uri.netloc}")
#domainName = '{uri.scheme}://{uri.netloc}/'.format(uri=parsed_uri)
#print("The domain name is : ")
#print(domainName)

## Option2
import re
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
list_split = re.split('[/]+', url)
print(f"호스트 도메인: {list_split[1]}")

호스트 도메인: news.naver.com
호스트 도메인: news.naver.com