제어문(control statement)은 프로그램의 흐름을 제어하는데 사용

#### 조건문 (Conditional Statements):
- if: 특정 조건이 참(True)일 때 코드 블록을 실행
    - 조건은 비교 연산자(==, !=, <, >, <=, >=)와 논리 연산자(and, or, not)를 사용하여 표현할 수 있다
- elif: 이전의 if 또는 elif 조건이 거짓(False)일 때 다른 조건을 검사
    - elif는 'else if'의 축약형으로, 이전 if 또는 elif 문의 조건이 거짓(False)일 때 다른 조건을 검사
    - 여러 elif 문을 사용하여 다양한 조건을 검사할 수 있다
- else:
    - 이전의 if 또는 elif 문의 조건이 모두 거짓일 때 실행할 코드 블록을 지정

In [ ]:
x=10
if x > 5:
  print('x는 5보다 큽니다.')
elif x==5:
  print('x는 5입니다')
else: print('x는 5보다 작습니다')

if x < 5:
  print('x는 5보다 작습니다.')
else: print('x는 5보다 크거나 같습니다.')


# 각 조건이 서로 독립적일때 if문을 연속해서 사용
x=10
y=5
if x>5: print("x는 5보다 큽니다.")

if y<10: print('y는 10보다 작습니다.')

if x>y: print('x는 y보다 큽니다.')

x는 5보다 큽니다.
x는 5보다 크거나 같습니다.
x는 5보다 큽니다.
y는 10보다 작습니다.
x는 y보다 큽니다.

In [ ]:
x=10
y=5

if x > 5:
  if y >=6:
    print("x는 5보다 크고, y는 6보다 크거나 같습니다.")
  else: print("x는 5보다 크고, y는 6보다 작습니다.")

else:
  if y >=6:
    print("x는 5보다 작거나 같고, y는 6보다 크거나 같습니다.")
  else: print("x는 5보다 작거나 같고, y는 6보다 작습니다.")


# Q. 이중 조건문을 사용하여 코드를 작성하세요
Alice={'name':'Alice', 'gender':'female', 'age':46, 'son':2, 'daugther':1}
Tom={'name':'Tom', 'gender':'male', 'age':30, 'son':0, 'daugther':2}
Mary={'name':'Mary', 'gender':'female', 'age':23, 'son':0, 'daugther':0}
A=[Alice, Tom,Mary]; i=0

for person in A:
  if A[i]['gender'] == 'male':
    if A[i]['son'] > 0:
      print(f"{A[i]['name']} is a male and he has at least one son")
    else: print(f"{A[i]['name']} is a male and he hasn't a son")
  elif A[i]['gender'] == 'female':
    if A[i]['son'] > 0:
      print(f"{A[i]['name']} is a female and she has at least one son")
    else: print(f"{A[i]['name']} is a female and she hasn't a son")
  else: pass
  i+=1


listdata=['a', 'b', 'c']
if 'a' in listdata:
  print('a가 listdata안에 있습니다.')
if 'b' in listdata:
  print('b가 listdata안에 있습니다.')
if 'c' in listdata:
  print('c가 listdata안에 있습니다.')


for i in listdata:
  if i in listdata:
    print (f'{i}가 listdata안에 있습니다.')

x는 5보다 크고, y는 6보다 작습니다.
Alice is a female and she has at least one son
Tom is a male and he hasn't a son
Mary is a female and she hasn't a son
a가 listdata안에 있습니다.
b가 listdata안에 있습니다.
c가 listdata안에 있습니다.
a가 listdata안에 있습니다.
b가 listdata안에 있습니다.
c가 listdata안에 있습니다.

In [ ]:
# Q. "돈이 있으면 (>= 10000) 택시를 타고, 돈이 없으면 걸어간다"를 만족하는 조건문을 작성하세요
money=int(input("현재 소지하고 있는 돈을 기입하세요:  "))

if money >= 10000:
  print(f"가진돈이 {money}, \\10000 이상이므로 택시를 타고 간다.")
else: print(f"가진돈이 \\{money}, \\10000 미만이므로 걸어가야 한다.")

현재 소지하고 있는 돈을 기입하세요:  9000
가진돈이 \9000, \10000 미만이므로 걸어가야 한다.

In [ ]:
# Q. 조건부 표현식을 한줄의 조건문으로 작성하세요
score = 70
if score >= 60:
  message = "success"
else:
  meassage = 'failure'
print(message)

##### LIST에 넣어서 simpl하게 checking 하는 방법
y=["success" if score >= 60 else "failure"]
#y=[print("success") if score >= 60 else print("failure")]

success

In [ ]:
# Q. 수입(income)과 지출(spend)를 비교해서 수입이 많으면 저축 증가, 반대이면 빚이 증가하는 프로그램 작성
income=int(input("수입을 입력하세요: "))
expense=int(input("지출을 입력하세요: "))
y=[print("저축증가") if income > expense else print("현상 유지 혹은 빚이 증가")]

if income > expense: print("저축 증가")
elif income < expense: print("빚 증가")
else: print("현상 유지")

수입을 입력하세요: 4000
지출을 입력하세요: 3400
저축증가
저축 증가

#### 반복문 (Loop Statements):
- for: 시퀀스(리스트, 튜플, 문자열 등)의 아이템을 순회하면서 코드 블록을 실행
- while: 특정 조건이 참인 동안 코드 블록을 반복하여 실행

In [ ]:
# for 루프는 시퀀스 (리스트, 튜플, 문자열 등)나 반복 가능한 객체(iterable)의 요소를 순회
for i in range(10):
  print(i, end=' ')
print('\n')

# while 루프는 주어진 조건이 참(True)인 동안 코드 블록을 반복
# 조건이 거짓(Faulse)이 되면 루프가 종료
count=0
while count < 5:
  print(count, end=' ')
  count += 1

0 1 2 3 4 5 6 7 8 9

0 1 2 3 4

In [ ]:
count=0; sum=0
while count < 5:
  sum += count
  print(sum, end=' ')
  count += 1

0 1 3 6 10

In [ ]:
# 리스트를 순회하는 예
for i in [1,2,3,4,5,6]:
  print(i, end=' ')
print('\n')

# 문자열을 순회하는 예
for charac in "hello":
  print(charac, end=',')
print('\n')

1 2 3 4 5 6

h,e,l,l,o,

In [ ]:

# Q. d에서 반복문을 사용하여 97, 98, 99를 출력하세요
d={'a':97, 'b':98, 'c':99}

for key in d:
  print(d[key], end=' ')

print('\n')

for value in d.values():
  print(value, end=' ')

print('\n')

for key, value in d.items():
  print(value, end=' ')

print('\n',type(d.keys()))
print('\n',type(d.values()))
print('\n',type(d.items()))

97 98 99

97 98 99

97 98 99
 <class 'dict_keys'>

 <class 'dict_values'>

 <class 'dict_items'>

## dict_values 클래스의 이해:
- 클래스 정의: 파이썬에서 클래스는 객체를 생성하는 데 사용되는 템플릿. dict_values는 딕셔너리의 값을 보여주는 뷰 객체를 생성하는 특별한 내장 클래스.
- 뷰 객체: dict_values 객체는 딕셔너리의 값에 대한 동적인 뷰를 제공. "뷰(view)"란 원본 딕셔너리 객체의 값이 변하면 그 변화가 dict_values 객체에도 반영되는, 원본 데이터의 실시간 반영본을 의미. 이는 딕셔너리의 값들이 수정, 추가, 삭제될 때 dict_values 객체가 자동으로 업데이트된다는 의미.
- 객체 인스턴스: dict_values 객체는 dict_values 클래스의 인스턴스. 이 클래스는 파이썬의 다른 모든 클래스처럼 특정 데이터 구조와 메서드를 가진다. 예를 들어, dict_values 객체는 순회 가능하며 (iterable), 딕셔너리의 모든 값을 순차적으로 접근할 수 있는 메서드를 제공.

In [ ]:
d={'a':97, 'b':98, 'c':99}
d['b']=100
print(d)
print(d.values())

{'a': 97, 'b': 100, 'c': 99}
dict_values([97, 100, 99])

#### 제어문 관련 키워드:
- break: 현재의 반복문을 중단하고, 반복문 바깥의 코드를 실행
- continue: 반복문의 나머지 부분을 건너뛰고, 다음 반복을 시작

In [ ]:
for i in range(5):
  if i == 3:
    break
  print(i, end=' ')
print('\n')

for i in range(5):
  if i == 3:
    continue
  print(i, end=" ")

0 1 2

0 1 2 4

In [ ]:
for i in range(10):
  if i == 5:
    break
  print(i, end=' ')
print('\n')

for i in range(10):
  if i % 2 == 0:
    continue
  print(i, end=" ")

0 1 2 3 4

1 3 5 7 9

- for 또는 while 루프에서 else절을 사용하면, 루프가 정상적으로 완료된 후에 실행할 코드를 입력하여 사용할 수 있다.

In [ ]:
for i in range(5):
  print(i, end=" ")
else: print("루프가 종료되었습니다. \n")

count=0
while count < 5:
  print(count, end=' ')
  count += 1
else: print("루프가 완료되었습니다.\n")

0 1 2 3 4 루프가 종료되었습니다.

0 1 2 3 4 루프가 완료되었습니다.

In [ ]:
for i in range(5):
  if i == 3:
    print(f"{i}에서 루프를 중단합니다.")
    break
else: print("루프가 정상적으로 종료되었습니다. \n")           # break를 쓰게 되면 해당 중단 조건에 해당할 때 loop를 중단하기 때문에 else로 넘어갈 일은 없다

3에서 루프를 중단합니다.

조건과 반복을 결합

In [ ]:
# 10미만의 홀수만 출력
for i in range(10):
  if i % 2 != 0:
    print(i, end=" ")

1 3 5 7 9

In [ ]:
# Q. 1~10 범위의 정수에서 1~5까지만 출력하세요
for i in range(1, 11):
  if i > 5: break
  else: print(i, end=" ")

1 2 3 4 5

In [ ]:
# Q. numbers 리스트에서 15, 20, 25를 출력하세요 (for, if조건 사용)
numbers=[5,15, 6, 20, 7, 25]
for i in numbers:
  #if i % 5 == 0 and i >= 10: print(i, end=" ")
  if i >= 15: print(i, end=" ")

15 20 25

In [ ]:
# 특정 조건을 만족할 때까지 반복
count=0
while 1:
  count += 1
  if count >5:
    break
  print(count, end=" ")
print("루프가 종료됨")

1 2 3 4 5 루프가 종료됨

In [ ]:
# Q. 리스트에서 특정값 찾기, 찾았으면 값을 찾아습니다. 출력하고 못 찾으면 "값을 찾지 못했습니다."를 출력
numbers=[1,2,3,4,5]
target=10

count=0
while count < len(numbers):
  if numbers[count] == target:
    print("target을 찾았습니다.\n")
    break                                    # break를 쓰지 않으면, 값을 찾은 경우에 찾고 난 이후에도 while 끝까지 돌고 나서 else로 들어가니까 또 찾지 못했다고 msg 또 뿌리는 문제가 있다
  count += 1
else: print("target을 찾지 못했습니다.")


if target in numbers: print("target을 찾았습니다.\n")
else: print("target을 찾지 못했습니다.")

target을 찾지 못했습니다.
target을 찾지 못했습니다.

In [ ]:
# Q. 1~20사이의 정수에서 10보다 작은 홀수만 출력
i=1
while i < 20:
  if i % 2 == 1 and i < 10:
    print (i, end=" ")
  i += 1
print('\n')

for i in range(1,20):
  if i % 2 == 1 and i < 10: print (i, end=" ")
print('\n')

i=0
while i < 20:
  i += 1
  if i % 2 == 0:
    continue
  if i >= 10: break
  print(i, end=" ")

1 3 5 7 9

1 3 5 7 9

1 3 5 7 9

In [ ]:
# Q. 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요 (while~break)
i=0; sum1=0
while 1:
  i += 1; sum1=sum1+i
  if sum1 > 1000:
    print(i, sum1, end=" \n")
    break

i=0; sum1=0
while sum1 <= 1000:
  i += 1; sum1=sum1+i
print(i, sum1, end=" \n")

# Q. while 문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해보세요
i=0; sum1=0
while i <= 1000:
  i += 1
  if i % 3 == 0:
    sum1=sum1+i
print (sum1)


### alternative method
List1=[]
List1=list(range(0,1000,3))
print(sum(List1))


# Q. 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성
# TEST bench: n1='2'; n2='2.3'; n3='adfasdf'; n4="4";
# input_num=n1
input_num=input("정수를 입력하세요: ")

if input_num[0].isnumeric():
  if "." in input_num: print("This is not a integer")
  else:
    if int(input_num) % 2 == 0: print("This value is an even number")
    else: print("This value is an odd number")

else:
  print("This is not a numerical value")


##################### Alternative Method
while True:
   try:
     input_num = int(input("정수를 입력하세요: "))
     if int(input_num) % 2 == 0: print("This value is an even number")
     else: print("This value is an odd number")
     break
   except ValueError:
     print("This is not a numerical value")
     break

45 1035
45 1035
166833
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]
166833
정수를 입력하세요: 2
This value is an even number
정수를 입력하세요: 3
This value is an odd number

In [ ]:
# Q. 입력 받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하시오
data= input('문자열을 입력: ')
for i in range(len(data)):
  if i == 0:
    continue
  print(data[i],end="")
else:
  print(data[0])

문자열을 입력: adfasgdasdf
dfasgdasdfa

zip() 함수
- 여러 개의 이터러블(리스트, 튜플 등)을 인자로 받아, 동일한 인덱스에 있는 요소들을 하나의 튜플로 묶어서 이터레이터를 반환 (단 이터레이터는 한번만 반환)
- 데이터를 병렬로 처리할 때 유용

In [ ]:
list1=[1,2,3,4]
list2=['a','b','c','d']
zipped=zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
<zip object at 0x7a8d99981080>

In [ ]:
# Q. 두개의 리스트(이름과 성)을 사용하여 각 사람의 전체 이름을 생성하시오
first_name = ['John', 'Jane','Corey', 'Travis']
last_name = ['Doe','Smith','Turner','Williams']

full_name=[first+" "+last for first, last in zip(first_name, last_name)]
print(full_name,"\n")


# Q. 학생들의 수학과 영어 점수를 각각의 리스트로 받아 평균 점수를 계산하시오
m_score=[88,92,79,93,85]
e_score=[82,95,75,86,74]
ever_score=[(MatScore+EnScore)/2 for MatScore, EnScore in zip(m_score, e_score)]
print(ever_score,"\n")


# Q. 상품 이름과 가격이 각각 다른 리스트에 저장되어 있을때, 상품과 가격을 튜플로 묶어 출력하세요
product=['apple','banna','cherry']
price=['1.2','0.5','23.5']

for pro, pric in zip(product,price):
  print(f"Product: {pro}, Price: ${pric}")

['John Doe', 'Jane Smith', 'Corey Turner', 'Travis Williams']

[85.0, 93.5, 77.0, 89.5, 79.5]

Product: apple, Price: $1.2
Product: banna, Price: $0.5
Product: cherry, Price: $23.5

#### 파이썬의 random 모듈
난수를 생성하기 위한 다양한 함수를 제공
- 기본 난수 생성:
  - random.random(): 0과 1 사이의 무작위 부동소수점 숫자를 반환.
- 범위 지정 난수 생성:
  - random.randint(a, b): a와 b 사이의 무작위 정수를 반환(b 포함).
  - random.randrange(start, stop[, step]): 지정된 범위에서 무작위 정수를 반환. step을 설정하여 수의 간격을 조정할 수 있다.
- 시퀀스용 함수:
  - random.choice(sequence): 주어진 시퀀스(리스트, 튜플 등)에서 무작위로 아이템을 선택하여 반환.
  - random.shuffle(x[, random]): 리스트의 항목들을 무작위로 섞는다. random은 섞기를 위한 함수를 커스텀할 때 사용.
  - random.sample(population, k): 주어진 시퀀스에서 무작위로 k개의 항목을 뽑아 새 리스트로 반환.
- 분포 기반 난수 생성:
  - random.uniform(a, b): a와 b 사이의 무작위 부동소수점 숫자를 균등 분포로 반환.
  - random.gauss(mu, sigma): 평균 mu와 표준편차 sigma를 가지는 정규 분포에서 난수를 반환.

In [ ]:
import random
# 0과 1 사이의 난수 생성
print(random.random())

# 1과 10사이의 정수 반환 (10 포함)
print(random.randint(1,10))

# 리스트에서 무작위로 하나의 원소 선택
items=[1,2,3,4,5]
print(random.choice(items))

# 리스트의 원소를 무작위로 섞기
random.shuffle(items)
print(items)

# 정규 분포의 난수 생성
mean=0
std_dev=1
print(random.gauss(mean, std_dev))

0.3502979791490044
1
2
[3, 2, 5, 4, 1]
-0.5125969590287069

In [ ]:
import random
male=['철수', '갑돌', '로미오','이몽룡','온돌']
random.shuffle(male)
male

['로미오', '온돌', '갑돌', '이몽룡', '철수']

In [ ]:
from random import shuffle          #### random 모듈로부터 shffle만 가져왔으니 random.shuffle이라 할 필요 X, 그냥 shuffle만 써도 됨.
male=['철수', '갑돌', '로미오','이몽룡','온돌']
shuffle(male)
male

['갑돌', '이몽룡', '온돌', '철수', '로미오']

Task1_0430. 남녀 파트너 정해주기 프로그램(zip)

같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']


Task2_0430. 대문자, 소문자, 숫자를 포함하는 8자리 랜덤 비밀번호를 생성하는 프로그램을 작성하세요.


Task3_0430. 발표자 수를 랜덤하게 출력하는 프로그램을 작성하세요.(발표자 수 입력)

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준',
        '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']


 Task4_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 구구단을 출력하는 프로그램을 작성하세요.       



 Task5_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 팩토리얼을 계산하세요.


 Task6_0430. 0부터 20까지의 숫자 중에서 짝수와 홀수를 분리하여 두 개의 리스트에 저장하세요.

 Task7_0430. 주어진 리스트에서 최대값을 찾아 출력하세요.
 numbers=[34,78,2,45,99,23]

Task8_0430.  1부터 10 사이의 임의의 숫자를 맞추는 게임을 만드세요. 사용자가 숫자를 맞출 때까지 입력을 계속 받으며, 정답을 맞추면 게임을 종료하세요.
(숫자를 입력하면 target 대비 크다/작다는 hint 제공)

Task9_0430. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.

Task10_0430. 아래 사항을 반영하여 커피 자판기 프로그램을 작성하세요.
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성

In [ ]:
# Task1_0430. 남녀 파트너 정해주기 프로그램(zip) 같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요
import random

MaleList = ['철수','갑돌','로미오','이몽룡','온돌']
FemaleList = ['미미','갑순','줄리엣','성춘향','평강']
random.shuffle(MaleList); random.shuffle(FemaleList)
CoupleList=[male+" - "+female for male, female in zip(MaleList,FemaleList)]

print(f"랜덤 커플 결과: {CoupleList[:]} \n")

랜덤 커플 결과: ['로미오 - 평강', '이몽룡 - 미미', '철수 - 줄리엣', '온돌 - 갑순', '갑돌 - 성춘향']

In [ ]:
# Task1_0430. 강사님 모범 답안
import random

MaleList = ['철수','갑돌','로미오','이몽룡','온돌']
FemaleList = ['미미','갑순','줄리엣','성춘향','평강']
random.shuffle(MaleList); random.shuffle(FemaleList)
couples=zip(MaleList,FemaleList)
for i, couple in enumerate(couples):
  print(f"커플{i+1}: {couple[0]}, {couple[1]}")

커플1: 철수, 성춘향
커플2: 온돌, 미미
커플3: 이몽룡, 줄리엣
커플4: 갑돌, 갑순
커플5: 로미오, 평강

In [ ]:
# ZIP / List ??
import random

MaleList = ['철수','갑돌','로미오','이몽룡','온돌']
FemaleList = ['미미','갑순','줄리엣','성춘향','평강']
random.shuffle(MaleList); random.shuffle(FemaleList)
couples=zip(MaleList,FemaleList)
print(list(couples))                                # zip으로 묶인 결과를 보기위해서 list로 묶어서 print해서 이터레이터를 한번 소비하면 아래 for 루프는 돌 수가 없다.
for i, couple in enumerate(couples):
  print(f"커플{i+1}: {couple[0]}, {couple[1]}")

[('로미오', '평강'), ('온돌', '갑순'), ('철수', '미미'), ('갑돌', '줄리엣'), ('이몽룡', '성춘향')]

In [ ]:
# ZIP / List ??
import random

MaleList = ['철수','갑돌','로미오','이몽룡','온돌']
FemaleList = ['미미','갑순','줄리엣','성춘향','평강']
random.shuffle(MaleList); random.shuffle(FemaleList)
couples1=zip(MaleList,FemaleList)
couples=list(couples1)                                # 위와 같은 문제를 해결하기 위해서는 한번에 소비 하지 않고, zip 결과를 list로 해서 다른 객체에 할당을 하고 그것을 여러번 사용할 수 있다
print(couples)
for i, couple in enumerate(couples):
  print(f"커플{i+1}: {couple[0]}, {couple[1]}")

[('로미오', '평강'), ('철수', '갑순'), ('온돌', '줄리엣'), ('이몽룡', '성춘향'), ('갑돌', '미미')]
커플1: 로미오, 평강
커플2: 철수, 갑순
커플3: 온돌, 줄리엣
커플4: 이몽룡, 성춘향
커플5: 갑돌, 미미

In [ ]:
# Task2_0430. 대문자, 소문자, 숫자를 포함하는 8자리 랜덤 비밀번호를 생성하는 프로그램을 작성하세요.
import random
import string
print(f"8-Digits PassCode: ")
for i in range(1,9):
  RandomField=random.choice(list(string.ascii_lowercase)+list(string.ascii_uppercase)+list(range(0,10)))
  print(RandomField, end=" ")
print("\n")

8-Digits PassCode:
k V y 5 p A u 9

In [ ]:
# Task2_0430. 강사님 모범 답안
import random
import string
characters=string.ascii_letters+string.digits     # 소문자 + 대문자 + 0-9
password = ''.join(random.choice(characters) for i in range(8))        # join하는 규칙은 .join 앞에 있는 ''
print("랜덤 비밀번호:", password)

랜덤 비밀번호: jtY9a6oL

In [ ]:
# Task2_0430. 추가 강사님 모범 답안 적어도 소문자, 대문자, digit
import random
import string

lower=random.choice(string.ascii_lowercase); upper=random.choice(string.ascii_uppercase); digit=random.choice(string.digits)
characters=string.ascii_letters+string.digits
rest=''.join(random.choice(characters) for i in range(5))
password = upper + lower + digit + rest
print(password)
password = ''.join(random.sample(password, len(password)))
print("랜덤 비밀번호:", password)

Yw4QJldW
랜덤 비밀번호: YlQWdw4J

In [ ]:
#Task3_0430. 발표자 수를 랜덤하게 출력하는 프로그램을 작성하세요.(발표자 수 입력)
kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

import random
NoPres=int(input("발표자 수를 입력하시오: "))
if NoPres > len(kita):
  print(f"{len(kita)}보다 작은 수를 입력하시오")
else:
  print("SPEAKERs: ")
  for i in range(0,NoPres):
    Speaker=random.choice(kita); kita.remove(Speaker)
    print(Speaker,end=" ")

발표자 수를 입력하시오: 3
SPEAKERs:
황강민 김도원 김한결

In [ ]:
#Task3_0430. 강사님 모범 답안
kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

import random
NoPres=int(input("발표자 수를 입력하시오: "))
if NoPres > len(kita):
  print(f"{len(kita)}보다 작은 수를 입력하시오")
else:
  print("SPEAKERs: ")
  SPKs=random.sample(kita,NoPres)        # 중복 없이 뽑아준다.
  print(SPKs)

발표자 수를 입력하시오: 3
SPEAKERs:
['소지승', '김성현', '최환욱']

In [ ]:
# Task4_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 구구단을 출력하는 프로그램을 작성하세요.
NoMulti=int(input("구구단을 위한 수를 입력하시오: "))
if NoMulti >= 10 :
  print("9단 이하로 선택하시오\n")
else:
  print(f"구구단 - {NoMulti} 단: ")
  for i in range(1,10):
    print(f"{NoMulti} X {i} = {int(NoMulti*i)}")

구구단을 위한 수를 입력하시오: 9
구구단 - 9 단:
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
# Task4_0430. Extra
for i in range(1,10):
  print(f"구구단 - {i} 단: ")
  for k in range(1,10):
     print(f"{i} X {k} = {int(i*k)}")

구구단 - 1 단:
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
구구단 - 2 단:
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
구구단 - 3 단:
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
구구단 - 4 단:
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
구구단 - 5 단:
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
구구단 - 6 단:
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
구구단 - 7 단:
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
구구단 - 8 단:
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
구구단 - 9 단:
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
# Task4_0430. Extra 횡방향
for i in range(0,10):
  for j in range(2,10):           ## J단 출력
    if i == 0:
      print(f"     {j}단\t", end='')
    else: print(f"{j} X {i} = {j*i}\t",end='')                      # 다음단으로 넘어갈때 종으로 배치되지 않게 하기 위해서 end='' 써줘야한다.
  print()                                                     # print에는 자동으로 개행이 있으니 print()는 개행 한번, print("\n")은 개행 두번이 있다

     2단	     3단	     4단	     5단	     6단	     7단	     8단	     9단
2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

In [ ]:
# 각 구구단 결과를 횡으로 출력
## ~ 단 출력
for i in range(2, 10):
  print(f"{' '*5}{i}단{' '*4}", end='\t')
print()

# 구분선 출력
for i in range(2, 10):
  print(f"{'='*12}", end='\t')
print()

# 구구단 출력
for i in range(1,10):
  for j in range(2,10):           ## J단 출력
    print(f"{j} X {i} = {j*i}\t",end='')                      # 다음단으로 넘어갈때 종으로 배치되지 않게 하기 위해서 end='' 써줘야한다.
  print()

     2단    	     3단    	     4단    	     5단    	     6단    	     7단    	     8단    	     9단
============	============	============	============	============	============	============	============
2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

### f-string내에서 {}안에는 변수 뿐만 아니라 Python 표현식도 올 수 있음
#### 표현식(Expression)
- 하나 이상의 값, 변수, 연산자, 함수 호출 등을 조합하여 평가(evaluate)될 때 값을 생성하거나 반환하는 코드
- 표현식은 계산되어 값이 되는 모든 것을 의미

표현식의 예시:
- 수치 계산: 2 + 3는 5라는 값을 반환
- 문자열 조합: "Hello " + "World"는 "Hello World"라는 문자열을 생성
- 논리 연산: x > 5는 x의 값에 따라 True 또는 False를 반환
- 함수 호출: sum([1, 2, 3])은 리스트의 합인 6을 반환
- 조건식: x if x > 0 else -x는 x가 양수면 x를, 음수면 -x를 반환

In [ ]:
# Task5_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 팩토리얼을 계산하세요.
try:
  InNum = int(input("정수를 입력하세요: "))
  result=1;
  for i in range(InNum,0,-1):
    result *= i
  print(f"{InNum}의 팩노리얼 값은: {result}")
except ValueError:
  print("Error: 정수만 팩토리얼 계산 가능합니다")

정수를 입력하세요: 20
20의 팩노리얼 값은: 2432902008176640000

In [ ]:
# Task6_0430. 0부터 20까지의 숫자 중에서 짝수와 홀수를 분리하여 두 개의 리스트에 저장하세요.
EvenList=[]; OddList=[]
for i in range(0, 21):
  if i % 2 == 0: EvenList.append(i)
  else: OddList.append(i)
print(f"Even Number List:{EvenList}\tOdd Number List:{OddList}")

Even Number List:[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]	Odd Number List:[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# Task7_0430. 주어진 리스트에서 최대값을 찾아 출력하세요.
numbers=[34,78,2,45,99,23]
print(f"주어진 리스트의 최대값은 {max(numbers)}")

주어진 리스트의 최대값은 99

In [ ]:
# Task8_0430. 1부터 10 사이의 임의의 숫자를 맞추는 게임을 만드세요. 사용자가 숫자를 맞출 때까지 입력을 계속 받으며, 정답을 맞추면 게임을 종료하세요. (숫자를 입력하면 target 대비 크다/작다는 hint 제공)
import random
# RandomNumber=random.choice(list(range(1,11)))
RandomNumber=random.randint(1,10)
try:
  while True:
    InNumber=int(input("1부터 10사이의 숫자를 입력하세요 "))
    if InNumber >= 1 and InNumber <= 10:
      if InNumber == RandomNumber:
        print("정답입니다.")
        break
      else:
        if InNumber > RandomNumber: print("Hint: 입력한 숫자보다 작습니다.")
        else: print("Hint: 입력한 숫자보다 큽니다.")
    else:
      print("Error: 1부터 10사이의 정수만 입력하세요")
      break

except ValueError:
  print("Error: 1부터 10사이의 정수만 입력하세요")

1부터 10사이의 숫자를 입력하세요 5
Hint: 입력한 숫자보다 큽니다.
1부터 10사이의 숫자를 입력하세요 8
정답입니다.

In [ ]:
# Task9_0430. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.
Zodiac12=['쥐', '소', '호랑이', '토끼', '용', '뱀', '말','양', '원숭이', '닭', '개', '돼지']
try:
    InYear=int(input("태어난 해를 입력하세요: "))
    Residue=(InYear-4)%12
    print(f"입력한 해 {InYear}년의 십이지(띠)는 {Zodiac12[Residue]} 입니다.")
except ValueError:
  print("Error: 올바른 해를 입력하세요")

태어난 해를 입력하세요: 2020
입력한 해 2020년의 십이지(띠)는 쥐 입니다.

In [ ]:
# Task10_0430. 아래 사항을 반영하여 커피 자판기 프로그램을 작성하세요.
# 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
# 각 Case별 멘트 출력은 상황에 맞게 창작
# while, if ~ elif ~ else 제어문을 사용하여 작성
Stock_Coffee=5; Price_Coffee=300;

while Stock_Coffee >= 1:
  InsertedCoin=int(input("\t코인을 넣어주세요: "))
  try:
    if InsertedCoin < 300:
      Change=InsertedCoin
      print(f"\t커피 가격은 \\300입니다.\n\t거스름돈 \\{Change} 이 반환되었습니다.")
    elif InsertedCoin == 300:
      print("\t주문하신 커피 한잔이 나왔습니다.")
      Stock_Coffee += -1
    else:
      Change=InsertedCoin-300
      print(f"\t커피값을 제외한 거스름돈 \\{Change} 과 주문하신 커피 한잔이 나왔습니다.")
      Stock_Coffee += -1
  except ValueError:
    print("Error: \t올바른 코인을 넣어주세요")
else: print("\n\n\t죄송합니다. 커피가 품절되었습니다.")

	코인을 넣어주세요: 250
	커피 가격은 \300입니다.
	거스름돈 \250 이 반환되었습니다.
	코인을 넣어주세요: 251
	커피 가격은 \300입니다.
	거스름돈 \251 이 반환되었습니다.
	코인을 넣어주세요: 301
	커피값을 제외한 거스름돈 \1 과 주문하신 커피 한잔이 나왔습니다.
	코인을 넣어주세요: 500
	커피값을 제외한 거스름돈 \200 과 주문하신 커피 한잔이 나왔습니다.
	코인을 넣어주세요: 541
	커피값을 제외한 거스름돈 \241 과 주문하신 커피 한잔이 나왔습니다.
	코인을 넣어주세요: 340
	커피값을 제외한 거스름돈 \40 과 주문하신 커피 한잔이 나왔습니다.
	코인을 넣어주세요: 500
	커피값을 제외한 거스름돈 \200 과 주문하신 커피 한잔이 나왔습니다.


	죄송합니다. 커피가 품절되었습니다.

In [ ]:
# Q. 로또 번호 6개를 6세트 출력하는 코드를 작성하시오 (중복 안됨)
import random
NoPool=list(range(1,46))
for i in range(6):
  Lotto=random.sample(NoPool,6)        # 중복 없이 뽑아준다.
  print(f"{i+1}번째 로또 번호는: {Lotto}")

1번째 로또 번호는: [29, 25, 32, 23, 44, 41]
2번째 로또 번호는: [3, 40, 32, 1, 10, 15]
3번째 로또 번호는: [22, 18, 4, 2, 15, 13]
4번째 로또 번호는: [24, 38, 16, 8, 12, 23]
5번째 로또 번호는: [22, 34, 10, 29, 16, 38]
6번째 로또 번호는: [26, 21, 23, 45, 31, 39]

In [ ]:
# Q. n개 그룹으로 분류하는 코드를 작성하세요
import random
kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']
No_Grp=int(input("나눌 그룹의 수를 입력하세요: "))
Group=[]; No_Pers=int(len(kita)/No_Grp); pool=kita
if len(kita)%No_Grp == 0:
  for i in range(No_Grp):
    pool=list(set(pool)-set(Group))
    Group=random.sample(pool, No_Pers)
    #print(pool,'\n',Group)
    print(f"{i+1}번체 그룹: {Group}")
else: print("kita 그룹은 총 {len(kita)}입니다. 균등하게 그룹을 나눌 수 있는 숫자를 입력하세요")

나눌 그룹의 수를 입력하세요: 5
1번체 그룹: ['신현진', '이범석', '최환욱', '이도헌']
2번체 그룹: ['이명신', '김홍준', '김성현', '소지승']
3번체 그룹: ['김도현', '김한결', '류윤선', '윤호준']
4번체 그룹: ['박윤경', '황강민', '이현석', '이상협']
5번체 그룹: ['김하준', '서보선', '박지환', '김도원']

In [ ]:
import random
kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']
No_Grp=int(input("나눌 그룹의 수를 입력하세요: "))
random.shuffle(kita)

groups=[kita[i::No_Grp] for i in range(No_Grp)]
for idx, group in enumerate(groups):
  print(f"그룹 {idx+1}: {group}")

나눌 그룹의 수를 입력하세요: 4
그룹 1: ['이상협', '윤호준', '이도헌', '서보선', '김성현']
그룹 2: ['이현석', '박지환', '김도원', '김홍준', '최환욱']
그룹 3: ['신현진', '박윤경', '류윤선', '김하준', '이범석']
그룹 4: ['김도현', '소지승', '황강민', '이명신', '김한결']

In [ ]:
# Q. 1부터 100까지의 정수 중 5에서 95까지의 합을 구하세요
num_list=list(range(1,101))
sum_num=sum(num_list[4:-5])
print(f"5에서 95까지의 정수의 합: {sum_num}")

5에서 95까지의 정수의 합: 4550

In [ ]:
# Q. while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구하세요
i=0; sum=0
while i <= 1000:
  i += 1
  if i%3 == 0 and i%5 == 0:
    sum=sum+i

print(f"1부터 1000까지의 정수 중 3과 5의 공배수의 합: {sum}")

1부터 1000까지의 정수 중 3과 5의 공배수의 합: 33165

In [ ]:
# Q. 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요.
import datetime
import pytz

tz=pytz.timezone('Asia/Seoul')
now=datetime.datetime.now(tz)
print(now, now.hour, now.minute)

now_time=now.hour; now_min=now.minute; now_sec=now.second
#print(now)           # now.year         now.month        now.day          now.hour         now.minute       now.second      now.microsecond


if now_time >= 12:
  print(f"현재시간은 오후 {now_time-12}시 {now_min}분 {now_sec}초(PM)")
elif now_time < 12:
  print(f"현재시간은 오전 {now_time}시 {now_min}분 {now_sec}초(AM)")
else: pass

2024-05-02 14:30:35.822996+09:00 14 30
현재시간은 오후 2시 30분 35초 (PM)

In [ ]:
# Q. 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요.
time = input("현재 시간을 입력하세요(ex. 15시 30분, 15시)")
try:
  if time[2] != "시":
    print("형식에 맞춰 작성해 주세요.")
  elif int(time.split('시')[0]) >= 0 and int(time.split('시')[0]) < 12:
    print("오전 입니다.")
  elif int(time.split('시')[0]) >= 12 and int(time.split('시')[0]) < 24:
    print('오후 입니다.')
  else: print("시간을 다시 입력해 주세요")
except ValueError: print("시간을 다시 입력해 주세요")

현재 시간을 입력하세요(ex. 15시 30분, 15시)16시
오후 입니다.

## POP
- 리스트와 같은 자료 구조에서 주로 사용되는 함수
- 이함수는 특정 인덱스에 위치한 요소를 리스트에서 제거하고 해당 요소를 반환

In [ ]:
fruits=['apple', 'banana', 'cherry', 'date']

removed_fruit=fruits.pop(2)
print(removed_fruit)
print(fruits)

# 리스트의 마지막 요소를 제거하고 반환
last_fruit=fruits.pop()
print(last_fruit)
print(fruits)

cherry
['apple', 'banana', 'date']
date
['apple', 'banana']

In [ ]:
# Q. 가위 바위 보 게임을 프로그래밍하세요.
import random
Gesture=['가위', '바위', '보']
WinTable={'가위':'보', '바위':'가위', '보':'바위'}
while 1:
  Random_Gest=random.choice(Gesture)
  print(Random_Gest)
  In_gest=input("가위, 바위 혹은 보 중에 선택해주세요(게임을 중지하고자  할 때는 '중지'를 내세요): ")
  if In_gest == '중지': print("게임이 사용자에 의해 중지 되었습니다."); break
  else:
    if Random_Gest == In_gest: print("비겼습니다.")
    elif Random_Gest == WinTable[In_gest]: print("이겼습니다.")
    else: print("패배하셨습니다.")

가위
가위, 바위 혹은 보 중에 선택해주세요(게임을 중지하고자  할때는 '중지' 내세요): 가위
비겼습니다.
가위
가위, 바위 혹은 보 중에 선택해주세요(게임을 중지하고자  할때는 '중지' 내세요): 바위
이겼습니다.
바위
가위, 바위 혹은 보 중에 선택해주세요(게임을 중지하고자  할때는 '중지' 내세요): 보
이겼습니다.
보
가위, 바위 혹은 보 중에 선택해주세요(게임을 중지하고자  할때는 '중지' 내세요): 바위
패배하셨습니다.
바위
가위, 바위 혹은 보 중에 선택해주세요(게임을 중지하고자  할때는 '중지' 내세요): 바위
비겼습니다.
보
가위, 바위 혹은 보 중에 선택해주세요(게임을 중지하고자  할때는 '중지' 내세요): 중지
게임이 사용자에 의해 중지 되었습니다.

In [ ]:
# Q. 가위 바위 보 게임을 프로그래밍하세요. 3번 이겨도 게임 중지
import random
Gesture=['가위', '바위', '보']
WinTable={'가위':'보', '바위':'가위', '보':'바위'}
Win_Count=0
while 1:
  Random_Gest=random.choice(Gesture)
  print(Random_Gest)
  In_gest=input("가위, 바위 혹은 보 중에 선택해주세요(게임을 중지하고자 할 때는 '중지'를 내세요): ")
  if In_gest == '중지': print("게임이 사용자에 의해 중지 되었습니다."); break
  else:
    if Random_Gest == In_gest: print("비겼습니다.")
    elif Random_Gest == WinTable[In_gest]: print("이겼습니다.",end=''); Win_Count += 1; print(f"{Win_Count}승 달성입니다.")
    else: print("패배하셨습니다.")
  if Win_Count >= 3: print("사용자가 목표(3승) 달성하여 게임을 중지합니다."); break

바위
가위, 바위 혹은 보 중에 선택해주세요(게임을 중지하고자 할 때는 '중지'를 내세요): 바위
비겼습니다.
바위
가위, 바위 혹은 보 중에 선택해주세요(게임을 중지하고자 할 때는 '중지'를 내세요): 보
이겼습니다.현재 1승 달성입니다.
가위
가위, 바위 혹은 보 중에 선택해주세요(게임을 중지하고자 할 때는 '중지'를 내세요): 바위
이겼습니다.현재 2승 달성입니다.
가위
가위, 바위 혹은 보 중에 선택해주세요(게임을 중지하고자 할 때는 '중지'를 내세요): 바위
이겼습니다.현재 3승 달성입니다.
3승이 달성되어 게임을 중지합니다.

In [10]:
# Task1_0502. 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈 값을 출력하고 그외는 다시 입력하라는 메시지를 출력하세요.
import re
while 1:
  In_Str=input("연산을 위한 정수(짝수 혹은 홀수)의 페어를 입력하세요 (계산을 중지하고자 할 때는 '중지'를 입력하세요): ")
  In_Spl=[]; In_Spl=re.split("[ ,]+", In_Str)
  if In_Spl[0] == "중지": print("계산 프로그램이 사용자에 의해 중지 되었습니다."); break
  else:
    if int(In_Spl[0])%2 == 0 and int(In_Spl[1])%2 == 0: print(f"{In_Spl[0]}X{In_Spl[1]}={int(In_Spl[0])*int(In_Spl[1])}")
    if int(In_Spl[0])%2 == 1 and int(In_Spl[1])%2 == 1: print(f"{In_Spl[0]}+{In_Spl[1]}={int(In_Spl[0])+int(In_Spl[1])}")
    else: print("올바른 연산을 위해 짝수의 정수 페어 혹은 홀수의 정수 페어를 입력하세요")

연산을 위한 정수(짝수 혹은 홀수)의 페어를 입력하세요 (계산을 중지하고자 할 때는 '중지'를 입력하세요): 2 3
올바른 연산을 위해 짝수의 정수 페어 혹은 홀수의 정수 페어를 입력하세요
연산을 위한 정수(짝수 혹은 홀수)의 페어를 입력하세요 (계산을 중지하고자 할 때는 '중지'를 입력하세요): 2, 3
올바른 연산을 위해 짝수의 정수 페어 혹은 홀수의 정수 페어를 입력하세요
연산을 위한 정수(짝수 혹은 홀수)의 페어를 입력하세요 (계산을 중지하고자 할 때는 '중지'를 입력하세요): 2, 2
2X2=4
올바른 연산을 위해 짝수의 정수 페어 혹은 홀수의 정수 페어를 입력하세요
연산을 위한 정수(짝수 혹은 홀수)의 페어를 입력하세요 (계산을 중지하고자 할 때는 '중지'를 입력하세요): 5 5
5+5=10
연산을 위한 정수(짝수 혹은 홀수)의 페어를 입력하세요 (계산을 중지하고자 할 때는 '중지'를 입력하세요): 중지
계산 프로그램이 사용자에 의해 중지 되었습니다.

In [9]:
# Task2_0502. 현재 계절 구분 프로그램
# - 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램
# - 각 계절별 출력 멘트는 계절에 맞게 창작
# - if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

# Q. 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요.
import datetime
import pytz
tz=pytz.timezone('Asia/Seoul')
now=datetime.datetime.now(tz)

cur_month=now.month
if cur_month >= 3 and cur_month <= 5:
  cur_season='싱그러운 봄, 봄!'
elif cur_month > 5 and cur_month <= 8:
  cur_season='생동감이 넘치는 여름, 여름!'
elif cur_month > 8 and cur_month <= 11:
  cur_season='온 세상이 갈색으로 물드는 가을, 가을!'
else: cur_season='손이 시려운지만 눈이 기다려지는 겨울, 겨울!'
print(f"지금은 {cur_month}월이며 계절은 {cur_season}입니다.")

지금은 5월이며 계절은 싱그러운 봄, 봄!입니다.

In [8]:
# Task3_0502. 1부터 99까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.
# 1*99, 2*98 ...99*1
max_num=100
max_mult=0
in_list=list(range(1,max_num))
for i in range(1, max_num):
  multi_i=in_list[i-1]*in_list[-i]
  #print(in_list[i-1],in_list[-i], multi_i)
  if multi_i > max_mult: max_mult=multi_i

print(f"1부터 99까지 1*99, 2*98 ...99*1과 같이 보수의 곱 중 가장 큰 수: {max_mult}")

1부터 99까지 1*99, 2*98 ...99*1과 같이 보수의 곱 중 가장 큰 수: 2500

In [7]:
# Task4_0502. [    ]을 채워서 아래의 출력과 같이 출력하세요.
# numbers = [1,2,3,4,5,6,7,8,9]
# output = [[], [], []]

numbers = [1,2,3,4,5,6,7,8,9]
group_no=3; inter=3
Rearranged=[numbers[i::inter] for i in range(group_no)]

print(f"주어진 숫자 리스트에서 3-index interval로 3-groups으로 분리: {Rearranged}")

주어진 숫자 리스트에서 3-index interval로 3-groups으로 분리: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [6]:
# Task5_0502. 주어진 리스트에서 중복된 요소를 제거하고, 남은 요소만을 포함하는 새 리스트를 반환합니다. 순서는 유지해야 합니다.
input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]
input_set=set(input_list)
clear_list=sorted(list(input_set))
print(clear_list)

[1, 2, 3, 4, 5, 6, 7]

In [5]:
# Task6_0502. 주어진 문자열을 모스 코드로 변환하는 함수를 작성하세요. 공백은 무시하고 알파벳만 변환하세요
# input_text="Hello~ World!"
morse_code = {
        'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.',
        'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..',
        'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.',
        'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-',
        'Y': '-.--', 'Z': '--..'
    }

input_str=input("모스 코드 변환할 문자열을 입력하세요(알파벳을 제외한 모든 문자는 무시됩니다.): ")
input_string= re.sub(r'[ ,~!]+', '', input_str)
input_string=input_string.upper()
tran_morse=[morse_code[i] for i in input_string]
print(f"주어진 문자열 {input_str}의 변환된 모스 코드: {tran_morse[:]}")

모스 코드 변환할 문자열을 입력하세요(알파벳을 제외한 모든 문자는 무시됩니다.): Hello~ World!
주어진 문자열 Hello~ World!의 변환된 모스 코드: ['....', '.', '.-..', '.-..', '---', '.--', '---', '.-.', '.-..', '-..']

In [3]:
# Task7_0502. 주어진 비대칭 m×n 매트릭스(2차원 리스트)에서, 모든 대각선 상의 합을 계산하는 함수를 작성하세요. 결과는 각 대각선의 합을 리스트로 반환해야 합니다.
input_arr = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]
# input_arr = [
#     [1,  2,  3,  7],
#     [4,  5,  6,  5],
#     [7,  8,  9,  1],
#     [10, 11, 12, 2]
# ]
# input_arr = [
    # [1,  2,  3,  7, 20],
    # [4,  5,  6,  5, 21],
    # [7,  8,  9,  1, 34],
    # [10, 11, 12, 2, 23]
# ]
# input_arr = [
    # [1,  2,  3,  7, 20],
    # [4,  5,  6,  5, 21],
    # [7,  8,  9,  1, 34],
    # [10, 11, 12, 2, 23],
    # [3,  16, 42, 21,3]
# ]

def cal_sum_diag(input_arr):
  row_n=len(input_arr); col_n=len(input_arr[0]); sum_diag_list=[]
  # Calculating along with the most out element in an anticlockwise direction
  for i in range(row_n):
    sum_diag=0; l=0;
    for j in range(0,min(i+1, col_n),1):
     sum_diag=sum_diag+input_arr[i-l][j]
     l += 1
    sum_diag_list.append(sum_diag)

  l=0
  for j in range(1, col_n):
    sum_diag=0; k=0
    for i in range(row_n-1,row_n-col_n+l,-1):
      sum_diag=sum_diag+input_arr[i][j+k]
      k += 1
    l += 1
    sum_diag_list.append(sum_diag)
  return sum_diag_list

print(f"주어진 M x N 매트릭스의 대각선 상에 있는 요소의 합을 계산, 각 대각선의 합을 리스트로 출력: {cal_sum_diag(input_arr)}")

주어진 M x N 매트릭스의 대각선 상에 있는 요소의 합을 계산, 각 대각선의 합을 리스트로 출력: [1, 6, 15, 24, 20, 12]