In [ ]:
# Task1_0527. 4개의 Series를 결합하여 데이터프레임을 생성하여 출력하세요.
# - 출력한 데이터프레임에서 추출하고 싶은 5개의 데이터를 인덱싱하여 출력
# - null값을 3개 추가
# - null값의 개수를 확인하고 삭제
# - 2개의 데이터를 수정
# - 1개의 행을 삭제


# (i) 4개의 Series를 결합하여 데이터프레임을 생성하여 출력하세요.
persData1=('Hwooks','96', 46, '남', '1978.01.18'); sr1=pd.Series(persData1)
persData2=('John','00', 42, '남', '1982.01.18'); sr2=pd.Series(persData2)
persData3=('James','11', 31, '여', '1993.01.18'); sr3=pd.Series(persData3)
persData4=('Jane','23', 19, '여', '2005.01.18'); sr4=pd.Series(persData4)
df=pd.concat([sr1, sr2, sr3, sr4], axis=1)
df.index=['name','학번', '나이','성별', '생년월일']
df.columns=['person1','person2','person3','person4']
print(df)
print()

# (ii) 출력한 데이터프레임에서 추출하고 싶은 5개의 데이터를 인덱싱하여 출력
print(df.iloc[0,0])
print(df.iloc[0,3])
print(df.loc['학번','person3'])
# print(df.iloc['학번','person3']) ## 에러 발생
print(df.iloc[1,1])
#print(df.loc[1,1])               ## 에러 발생
#print(df.iloc[0,'person1'])      ## 에러 발생
print(df.iloc[0:4,0])
print(df.iloc[:])
#print(df.at[0,'person1'])         ## 에러발생
print(df.at['학번','person1'])
print(df.iloc[2,3])
#print(df.at[2,3])                  ## 에러 발생 ==> at을 iloc 처럼은 못쓴다.

## (iii) null값을 3개 추가
df.iloc[1,3]=None
df.iloc[2,1]=np.nan
df.iloc[4,0]=None

print(df)

# (iv) null값의 개수를 확인하고 삭제
numNull=df.isnull().sum()           ## 이렇게 하면 column별 null 값을 반환
print(numNull)
numNull=df.isnull().sum().sum()     ## 두번해야지 전체 null 값을 반환
print(numNull)

numNull=df.iloc[:,0].isnull().sum()           ## 1st column별 null 값을 반환
print(numNull)

numNull=df.iloc[:,1].isnull().sum()           ## 2nd column별 null 값을 반환
print(numNull)

numNull=df.iloc[:,2].isnull().sum()           ## 3rd column별 null 값을 반환
print(numNull)

numNull=df.iloc[:,3].isnull().sum()           ## 4th column별 null 값을 반환
print(numNull)

numNull=df.iloc[0].isnull().sum()           ## 이렇게 하면 1st 열 null 값을 반환
print(numNull)
numNull=df.iloc[1].isnull().sum()           ## 이렇게 하면 2nd 열 null 값을 반환
print(numNull)
numNull=df.iloc[2].isnull().sum()           ## 이렇게 하면 3rd 열 null 값을 반환
print(numNull)
numNull=df.iloc[3].isnull().sum()           ## 이렇게 하면 4th 열 null 값을 반환
print(numNull)
numNull=df.iloc[4].isnull().sum()           ## 이렇게 하면 5th 열 null 값을 반환
print(numNull)


filled_df=df.fillna(0)
print(filled_df)
# (v) 2개의 데이터를 수정
df.iloc[1,3]='23'
df.iloc[2,1]=42
df.iloc[4,0]='1978.01.18'

# (vi) 1개의 행을 삭제
#df.drop(['person2'], axis=1, inplace=True)           ## 가능
#df.drop([0], axis=0, inplace=True)                    ## Error label로만 indexing 가능
df.drop(["학번"], axis=0, inplace=True)              ## 가능
print(df)

         person1     person2     person3     person4
name      Hwooks        John       James        Jane
학번            96          00          11          23
나이            46          42          31          19
성별             남           남           여           여
생년월일  1978.01.18  1982.01.18  1993.01.18  2005.01.18

Hwooks
Jane
11
00
name    Hwooks
학번          96
나이          46
성별           남
Name: person1, dtype: object
         person1     person2     person3     person4
name      Hwooks        John       James        Jane
학번            96          00          11          23
나이            46          42          31          19
성별             남           남           여           여
생년월일  1978.01.18  1982.01.18  1993.01.18  2005.01.18
96
19
     person1     person2     person3     person4
name  Hwooks        John       James        Jane
학번        96          00          11        None
나이        46         NaN          31          19
성별         남           남           여           여
생년월일    None  1982.01.18  1993.01.18  2005.01.18
person1    1
person2    1
person3    0
person4    1
dtype: int64
3
1
1
0
1
0
1
1
0
1
     person1     person2     person3     person4
name  Hwooks        John       James        Jane
학번        96          00          11           0
나이        46           0          31          19
성별         남           남           여           여
생년월일       0  1982.01.18  1993.01.18  2005.01.18
         person1     person2     person3     person4
name      Hwooks        John       James        Jane
나이            46          42          31          19
성별             남           남           여           여
생년월일  1978.01.18  1982.01.18  1993.01.18  2005.01.18

In [7]:
# Task1_0527 강사님 답안
import numpy as np
import pandas as pd

# 데이터프레임 생성
id = np.arange(1, 1001)
i1 = pd.Series(id)
gender = np.random.randint(2, size=1000)
g1 = pd.Series(gender)
age = np.random.randint(1, 101, size=1000)
a1 = pd.Series(age)
region = np.random.randint(1, 11, size=1000)
r1 = pd.Series(region)
df = pd.concat([i1, g1, a1, r1], axis=1)
df.rename(columns={0: 'id', 1: 'gender', 2: 'age', 3: 'region'}, inplace=True)


# 데이터프레임에서 추출하고 싶은 5개의 데이터를 인덱싱하여 출력
print(df.iloc[[0, 1, 2, 3, 4]])


# null값을 3개 추가
df.loc[0, 'age'] = np.nan
df.loc[1, 'gender'] = np.nan
df.loc[2, 'region'] = np.nan

# null값의 개수를 확인하고 삭제
null_counts = df.isnull().sum()
print( null_counts,'\n')
df.dropna(inplace=True)
print(df.head(7))

# 2개의 데이터를 수정
df.loc[3, 'age'] = 50
df.loc[4, 'region'] = 5

# 1개의 행을 삭제
df.drop(index=5, inplace=True)
# 최종 데이터프레임 출력
print(df.head(7))

   id  gender  age  region
0   1       0   49       3
1   2       1   22      10
2   3       0   55       7
3   4       0   76       3
4   5       0    5       8
id        0
gender    1
age       1
region    1
dtype: int64

   id  gender   age  region
3   4     0.0  76.0     3.0
4   5     0.0   5.0     8.0
5   6     1.0  10.0    10.0
6   7     0.0   7.0     8.0
7   8     1.0  61.0     3.0
8   9     1.0  71.0     2.0
9  10     1.0  63.0     9.0
    id  gender   age  region
3    4     0.0  50.0     3.0
4    5     0.0   5.0     5.0
6    7     0.0   7.0     8.0
7    8     1.0  61.0     3.0
8    9     1.0  71.0     2.0
9   10     1.0  63.0     9.0
10  11     0.0   7.0     1.0

In [12]:
# Task2_0527. 학생별 성적 데이터셋으로 의미있게 데이터 셋을 수정하세요.(아래 사항 반영)
# - S1 ~ S10은 평균 점수를 기준으로 1등급에서 10등급이고 등급간 점수 차는 5점
# - 결시자가 국어 3명, 수학 2명 있음
# - 영어, 수학의 평균 점수가 국어 대비 5점 낮음
import pandas as pd
import numpy as np
df = np.random.randint(1,5,size=(10,5))
df=pd.DataFrame(df,index=['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10'],
               columns=['국어','영어','수학','과학','사회'])

## (i) 등급간 점수 차는 5점
for i in range(10):
  df.iloc[i]=90-i*5

## (iii) 영어, 수학의 평균 점수가 국어 대비 5점 낮음
for i in range(10):
  df.iloc[i,1:3]=df.iloc[i,0]-5
## (ii) 결시자가 국어 3명, 수학 2명 있음
a=df.copy()
a.iloc[7:,0]=np.nan
a.iloc[8:,2]=np.nan

print(a)

       국어  영어    수학  과학  사회
s1   90.0  85  85.0  90  90
s2   85.0  80  80.0  85  85
s3   80.0  75  75.0  80  80
s4   75.0  70  70.0  75  75
s5   70.0  65  65.0  70  70
s6   65.0  60  60.0  65  65
s7   60.0  55  55.0  60  60
s8    NaN  50  50.0  55  55
s9    NaN  45   NaN  50  50
s10   NaN  40   NaN  45  45

In [20]:
# Task3_0527. df1에서 결측값 처리 후 딕셔너리, 리스트로 변환하여 출력하세요.
df1 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Math": [85, np.nan, 88, 90, 76],
    "English": [92, 85, 89, np.nan, 80],
    "Science": [78, 90, 95, 85, 89],
    "History": [88, 92, 85, 91, np.nan]
})

df1.info()
df1.columns
## 숫자 열에 대해 결측값을 각 열의 평균값으로 대체
df2=df1.copy()
columns=['Math', 'English', 'Science', 'History']
for column in columns:
  df2[column].fillna(df2[column].mean(), inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   Math     4 non-null      float64
 2   English  4 non-null      float64
 3   Science  5 non-null      int64
 4   History  4 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 328.0+ bytes

      Name   Math  English  Science  History
0    Alice  85.00     92.0       78     88.0
1      Bob  84.75     85.0       90     92.0
2  Charlie  88.00     89.0       95     85.0
3    David  90.00     86.5       85     91.0
4      Eve  76.00     80.0       89     89.0

In [24]:
## 데이터프레임에서 숫자형 데이터 타입을 가진 열들만 선택 처리
df2=df1.copy()
for column in df2.select_dtypes(include=[np.number]).columns:
  df2[column].fillna(df2[column].mean(), inplace=True)

print(df1)
print(df2)

      Name  Math  English  Science  History
0    Alice  85.0     92.0       78     88.0
1      Bob   NaN     85.0       90     92.0
2  Charlie  88.0     89.0       95     85.0
3    David  90.0      NaN       85     91.0
4      Eve  76.0     80.0       89      NaN
      Name   Math  English  Science  History
0    Alice  85.00     92.0       78     88.0
1      Bob  84.75     85.0       90     92.0
2  Charlie  88.00     89.0       95     85.0
3    David  90.00     86.5       85     91.0
4      Eve  76.00     80.0       89     89.0

In [25]:
## 배열로 변환
array1=df2.to_numpy()
print(array1)

## Dict로 변환
dict1=df2.to_dict(orient='list')
print(dict1)

## List로 변환
list1=df2.values.tolist()
print(list1)

[['Alice' 85.0 92.0 78 88.0]
 ['Bob' 84.75 85.0 90 92.0]
 ['Charlie' 88.0 89.0 95 85.0]
 ['David' 90.0 86.5 85 91.0]
 ['Eve' 76.0 80.0 89 89.0]]
{'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'], 'Math': [85.0, 84.75, 88.0, 90.0, 76.0], 'English': [92.0, 85.0, 89.0, 86.5, 80.0], 'Science': [78, 90, 95, 85, 89], 'History': [88.0, 92.0, 85.0, 91.0, 89.0]}
[['Alice', 85.0, 92.0, 78, 88.0], ['Bob', 84.75, 85.0, 90, 92.0], ['Charlie', 88.0, 89.0, 95, 85.0], ['David', 90.0, 86.5, 85, 91.0], ['Eve', 76.0, 80.0, 89, 89.0]]

In [29]:
# Task4_0527. df2에서 아래와 같이 데이터 필터링 및 정렬 후 배열, 딕셔너리, 리스트로 변환하여 출력하세요.
# - Math 점수가 80 이상인 학생만 선택
# - English 점수를 기준으로 내림차순 정렬
df2 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Math": [85, 79, 88, 90, 76],
    "English": [92, 85, 89, 93, 80],
    "Science": [78, 90, 95, 85, 89],
    "History": [88, 92, 85, 91, 84]
})
## Math 점수가 80 이상인 학생만 필터링
df2_filtered=df2[df2['Math']>=80]
## English 점수를 기준으로 내림차순으로 정렬
df2_sorted=df2_filtered.sort_values(by='English', ascending=False)
print(df2_sorted)

      Name  Math  English  Science  History
3    David    90       93       85       91
0    Alice    85       92       78       88
2  Charlie    88       89       95       85

In [41]:
# Task5_0527. df3에서 각 학생의 평균 점수 계산 후 배열, 딕셔너리, 리스트로 변환하여 출력하세요.
df3 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Alice", "Bob", "Charlie", "David", "Eve"],
    "Subject": ["Math", "Math", "Math", "Math", "Math", "English", "English", "English", "English", "English"],
    "Score": [85, 79, 88, 90, 76, 92, 85, 89, 93, 80]
})
print(df3)

df3_avg=df3.groupby('Name')['Score'].mean()
print(df3_avg)
print()

df3_pivot=df3.pivot_table(index='Name', columns='Subject', values='Score',aggfunc='mean').reset_index()
df3_pivot.columns.name=None
print(df3_pivot)

      Name  Subject  Score
0    Alice     Math     85
1      Bob     Math     79
2  Charlie     Math     88
3    David     Math     90
4      Eve     Math     76
5    Alice  English     92
6      Bob  English     85
7  Charlie  English     89
8    David  English     93
9      Eve  English     80
Name
Alice      88.5
Bob        82.0
Charlie    88.5
David      91.5
Eve        78.0
Name: Score, dtype: float64

      Name  English  Math
0    Alice       92    85
1      Bob       85    79
2  Charlie       89    88
3    David       93    90
4      Eve       80    76

In [ ]:
## 배열로 변환
array3=df3_pivot.to_numpy()
print(array3)

## Dict로 변환
dict3=df3_pivot.to_dict(orient='list')
print(dict3)

## List로 변환
list3=df3_pivot.values.tolist()
print(list3)

In [44]:
# Task6_0527. df4에서 특정 열의 데이터 타입을 변환한 후 변환된 타입을 확인하세요.
df4 = pd.DataFrame({
    'A': ['1', '2', '3', '4'],
    'B': ['5.1', '6.2', '7.3', '8.4'],
    'C': ['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01']
})
print(df4)

## 'A'열을 정수형(int)으로 변환
df4['A']=df4['A'].astype(int)

## 'B'열을 부동소수점(float)으로 변환
df4['B']=df4['B'].astype(float)

## 'C'열을 datetime 형식으로 변환
df4['C']=pd.to_datetime(df4['C'])

print(df4.dtypes)

   A    B           C
0  1  5.1  2021-01-01
1  2  6.2  2021-02-01
2  3  7.3  2021-03-01
3  4  8.4  2021-04-01
A             int64
B           float64
C    datetime64[ns]
dtype: object

In [46]:
# Task7_0527. df5에서 나이가 25 이상인 행을 출력하세요.
df5 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
})

print(df5, '\n')

subset=df5[df5['Age']>=25]
print("\n나이가 25세이상인 행:\n \n", subset)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston
4      Eve   29      Phoenix


나이가 25세이상인 행:

     Name  Age         City
1    Bob   27  Los Angeles
3  David   32      Houston
4    Eve   29      Phoenix